        <!--
        <div class="form-group" ng-show="vm.estadoDesportillamiento.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.estadoDesportillamiento.id" readonly />
        </div>
        -->


        <h4>Información del estado: <span class="label label-success">{{vm.getStateStatusLabel()}}</span></h4>
        <div class="entity-section-form-group">
            <div class="row">
                <div class="form-group col-xs-12" ng-class="{'has-error':editForm.kilometro.$invalid || editForm.abscisa.$invalid, 'col-sm-5':vm.estadoDesportillamiento.id, 'col-sm-6':!vm.estadoDesportillamiento.id}">
                    <label class="control-label sr-only" for="field_kilometro">Kilometro + Abscisa</label>
                    <label class="control-label " for="field_kilometro">Kilómetro + Abscisa</label>

                    <div class="input-group">  
                        <div class="input-group-addon">Km</div>  
                        <input required type="number" class="form-control" name="kilometro" id="field_kilometro"
                                ng-model="vm.estadoDesportillamiento.kilometro"
                                min="0" max="200" />
                        <div class="input-group-addon">+</div>
                        <input required type="number" class="form-control" name="abscisa" id="field_abscisa"
                                ng-model="vm.estadoDesportillamiento.abscisa"
                                min="0" max="999" />
                    </div>
                    

                    <div ng-show="editForm.kilometro.$invalid || editForm.abscisa.$invalid">
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.min" translate-value-min="0">
                            El campo km no puede ser menor a 0
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.max">
                            El campo km no pude ser mayor a 200
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.number">
                            El campo km es numérico
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisa.$error.min" translate-value-min="0">
                            El campo abscisa no puede ser menor a 0.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisa.$error.max">
                            El campo abscisa no puede ser mayor a 999.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisa.$error.number">
                            El campo abscisa es numérico.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.required && !editForm.abscisa.$error.required">
                            El campo km es obligatorio.
                        </p>
                        
                        <p class="help-block"
                            ng-show="!editForm.kilometro.$error.required && editForm.abscisa.$error.required">
                            El campo abscisa es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.required && editForm.abscisa.$error.required">
                            Los campos Km y abscisa son obligatorios.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.kilometroAbscisaInvalid">
                            Valores por fuera del tramo comprendido de  {{vm.getTramo().origen}}
                            - {{vm.getTramo().destino}}.
                        </p>
                    </div>
                </div>
                <div class="form-group" ng-if="!vm.isEstadoInVerification()" ng-class="{'has-error':editForm.costadoInspeccion.$invalid, 'col-sm-5 col-xs-6':vm.estadoDesportillamiento.id, 'col-sm-6 col-xs-12':!vm.estadoDesportillamiento.id}">
                    <label class="control-label" for="field_costadoInspeccion">Costado</label>
                    <br>
                    <div class="row">
                        <div class="col-sm-6 form-control-static" ng-class="{'col-xs-6':!vm.estadoDesportillamiento.id}">
                            <label>
                                <input required type="radio" name="costadoInspeccion" id="field_costadoInspeccion"
                                    ng-model="vm.estadoDesportillamiento.costadoInspeccion" value="Izquierdo"/>
                                Izquierdo
                            </label>        
                        </div>
                        <div class="col-sm-6 form-control-static" ng-class="{'col-xs-6':!vm.estadoDesportillamiento.id}">
                            <label>
                                <input required type="radio" name="costadoInspeccion" id="field_costadoInspeccion"
                                    ng-model="vm.estadoDesportillamiento.costadoInspeccion" value="Derecho"/>
                                Derecho
                            </label>        
                        </div>
                    </div>
                    <div ng-show="editForm.costadoInspeccion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.costadoInspeccion.$error.required">
                            El campo es obligatorio.
                        </p>
                    </div>
                </div>
                <div class="form-group"  ng-if="vm.isEstadoInVerification()" ng-class="{'has-error':editForm.costadoVerificacion.$invalid, 'col-sm-5 col-xs-6':vm.estadoDesportillamiento.id, 'col-sm-6 col-xs-12':!vm.estadoDesportillamiento.id}">
                    <label class="control-label" for="field_costadoVerificacion">Costado</label>
                    <br>
                    <div class="row">
                        <div class="col-sm-6 form-control-static" ng-class="{'col-xs-6':!vm.estadoDesportillamiento.id}">
                            <label>
                                <input ng-disabled="true" type="radio" name="costadoVerificacion" id="field_costadoVerificacion"
                                    ng-model="vm.estadoDesportillamiento.costadoVerificacion" value="Izquierdo"/>
                                Izquierdo
                            </label>        
                        </div>
                        <div class="col-sm-6 form-control-static" ng-class="{'col-xs-6':!vm.estadoDesportillamiento.id}">
                            <label>
                                <input ng-disabled="true" type="radio" name="costadoVerificacion" id="field_costadoVerificacion"
                                    ng-model="vm.estadoDesportillamiento.costadoVerificacion" value="Derecho"/>
                                Derecho
                            </label>        
                        </div>
                    </div>
                    <div ng-show="editForm.costadoVerificacion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.costadoVerificacion.$error.required">
                            El campo es obligatorio.
                        </p>
                    </div>
                </div>
                <div class="form-group col-xs-6" ng-class="{'col-sm-2':vm.estadoDesportillamiento.id, 'hide':!vm.estadoDesportillamiento.id}">
                    <label class="control-label" for="field_cumple">¿Ha cumplido?</label>
                    <indicador-cumple cumple="vm.estadoDesportillamiento.cumple"></indicador-cumple>   
                </div>
            </div>
            <div class="row" ng-if="!vm.isEstadoInVerification()">
                <div class="form-group col-xs-6" ng-class="{'has-error':editForm.severidadInspeccion.$invalid}">
                    
                    <label class="control-label" for="field_severidadInspeccion">Severidad</label>
                    <select required class="form-control" id="field_severidadInspeccion" name="severidadInspeccion" ng-model="vm.estadoDesportillamiento.severidadInspeccion" ng-options="o as o for o in ['Bajo','Medio','Alto']" >
                        <option value=""></option>
                    </select>    
                

                    <div ng-show="editForm.severidadInspeccion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.severidadInspeccion.$error.required">
                            El campo es obligatorio.
                        </p>
                    </div>
                </div>
                <div class="form-group col-xs-6"
                    ng-class="{'has-error':editForm.cantidadInspeccion.$invalid}">
                    <label class="control-label" for="field_cantidadInspeccion">Cantidad</label>
                    <input type="number" class="form-control" name="cantidadInspeccion" id="field_cantidadInspeccion"
                    ng-model="vm.estadoDesportillamiento.cantidadInspeccion"
                    required 
                    min="0" max="100" />

                    <div ng-show="editForm.cantidadInspeccion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.cantidadInspeccion.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.cantidadInspeccion.$error.min" translate-value-min="0">
                            Este campo no debe ser menor a 0
                        </p>
                        <p class="help-block"
                            ng-show="editForm.cantidadInspeccion.$error.max">
                            Este campo no debe ser mayor a 100.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.anchoInspeccion.$error.number">
                            Este campo es numérico
                        </p>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label class="control-label" for="field_observacionesInspeccion">Observaciones inspección:</label>
                    <textarea class="form-control" rows="3" name="observacionesInspeccion" 
                        id="field_observacionesInspeccion" ng-model="vm.estadoDesportillamiento.observacionesInspeccion" ng-maxlength="400" ></textarea>
                    <div ng-show="editForm.observacionesInspeccion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.observacionesInspeccion.$error.maxlength">
                            Este campo no puede tener más de 400 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.isEstadoInVerification()">
                <div class="form-group col-xs-6" ng-class="{'has-error':editForm.severidadVerificacion.$invalid}">
                    
                    <label class="control-label" for="field_severidadVerificacion">Severidad</label>
                    <select ng-disabled="true" class="form-control" id="field_severidadVerificacion" name="severidadVerificacion" ng-model="vm.estadoDesportillamiento.severidadVerificacion" ng-options="o as o for o in ['Bajo','Medio','Alto']">
                        <option value=""></option>
                    </select>    
                

                    <div ng-show="editForm.severidadVerificacion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.severidadVerificacion.$error.required">
                            El campo es obligatorio.
                        </p>
                    </div>
                </div>
                <div class="form-group col-xs-6"
                    ng-class="{'has-error':editForm.cantidadVerificacion.$invalid}">
                    <label class="control-label" for="field_cantidadVerificacion">Cantidad</label>
                    <input type="number" class="form-control" name="cantidadVerificacion" id="field_cantidadVerificacion"
                    ng-model="vm.estadoDesportillamiento.cantidadVerificacion"
                    required 
                    min="0" max="100" />

                    <div ng-show="editForm.cantidadVerificacion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.cantidadVerificacion.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.cantidadVerificacion.$error.min" translate-value-min="0">
                            Este campo no debe ser menor a 0
                        </p>
                        <p class="help-block"
                            ng-show="editForm.cantidadVerificacion.$error.max">
                            Este campo no debe ser mayor a 100.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.anchoVerificacion.$error.number">
                            Este campo es numérico
                        </p>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label class="control-label" for="field_observacionesVerificacion">Observaciones verificación:</label>
                    <textarea class="form-control" rows="3" name="observacionesVerificacion" 
                        id="field_observacionesVerificacion" ng-model="vm.estadoDesportillamiento.observacionesVerificacion" ng-maxlength="400" ></textarea>
                    <div ng-show="editForm.observacionesVerificacion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.observacionesVerificacion.$error.maxlength">
                            Este campo no puede tener más de 400 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.isEstadoInVerification()">
                <div class="col-xs-12">
                    <div class="alert alert-success alert-entity-message">
                        Se requiere la <strong>fecha de verificación</strong> en el panel principal <a ui-sref="inspeccion-desportillamiento.edit"><strong>(Información de la inspección)</strong></a>, de lo contrario, se calculará el cumplimiento basado en la fecha y hora del sistema
                        }
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.estadoDesportillamiento.id">
                <div class="col-sm-6 col-md-offset-6">
                    <button type="button" class="btn btn-primary btn-block" ui-sref="archivo-inspeccion-desportillamiento({id_estado_desportillamiento: vm.estadoDesportillamiento.id})">
                        <span>
                            Evidencia
                            &nbsp
                        </span>
                        <span class="glyphicon glyphicon-file"></span>
                    </button>
                </div>
            </div>
        </div>
        <!--<div class="form-group">
            <label class="control-label" for="field_cumple">Cumple</label>
            <input type="checkbox" class="form-control" name="cumple" id="field_cumple"
                    ng-model="vm.estadoDesportillamiento.cumple"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_estado">Estado</label>
            <input type="text" class="form-control" name="estado" id="field_estado"
                    ng-model="vm.estadoDesportillamiento.estado"
                    ng-maxlength="10" />
            <div ng-show="editForm.estado.$invalid">
                <p class="help-block"
                    ng-show="editForm.estado.$error.maxlength">
                    This field cannot be longer than 10 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_estadoInspeccion">Estado Inspeccion</label>
            <select class="form-control" id="field_estadoInspeccion" name="estadoInspeccion" ng-model="vm.estadoDesportillamiento.estadoInspeccion" ng-options="inspeccionDesportillamiento as inspeccionDesportillamiento.id for inspeccionDesportillamiento in vm.inspecciondesportillamientos track by inspeccionDesportillamiento.id">
                <option value=""></option>
            </select>
        </div>-->