        <!-- <div class="form-group" ng-show="vm.vehiculoAfectadoEnAccidente.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.vehiculoAfectadoEnAccidente.id" readonly />
        </div> -->
        <h4>Vehículo afectado en accidente:</h4>
        <div class="entity-section-form-group">
            <div class="row">
                <div class="form-group col-sm-8" ng-class="{'has-error':editForm.vehiculoAfectadoEnAccidente.$invalid}">
                    <label class="control-label" for="field_vehiculoAfectadoEnAccidente">Tipo de vehículo afectado</label>
                    <select required class="form-control" id="field_vehiculoAfectadoEnAccidente" name="vehiculoAfectadoEnAccidente" ng-model="vm.vehiculoAfectadoEnAccidente.vehiculoAfectadoEnAccidente" ng-options="tipoVehiculoAfectado as tipoVehiculoAfectado.tipoVehiculo for tipoVehiculoAfectado in vm.tipovehiculoafectados track by tipoVehiculoAfectado.id">
                        <option value=""></option>
                    </select>
                    <div ng-show="editForm.vehiculoAfectadoEnAccidente.$invalid">
                        <p class="help-block"
                            ng-show="editForm.vehiculoAfectadoEnAccidente.$error.required">
                            Este campo es obligatorio.
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-4" ng-class="{'has-error':editForm.placasVehiculoAccidente.$invalid}">
                    <label class="control-label" for="field_placasVehiculoAccidente">Placas de vehículo</label>
                    <input type="text" class="form-control" name="placasVehiculoAccidente" id="field_placasVehiculoAccidente"
                            ng-model="vm.vehiculoAfectadoEnAccidente.placasVehiculoAccidente"
                            required ng-maxlength="10" />
                    <div ng-show="editForm.placasVehiculoAccidente.$invalid">
                        <p class="help-block"
                            ng-show="editForm.placasVehiculoAccidente.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.placasVehiculoAccidente.$error.maxlength">
                            Este campo no puede tener mas de 10 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6" ng-class="{'has-error':editForm.nombreConductorVehiculoAccidente.$invalid}">
                    <label class="control-label" for="field_nombreConductorVehiculoAccidente">Nombre de conductor</label>
                    <input type="text" class="form-control" name="nombreConductorVehiculoAccidente" id="field_nombreConductorVehiculoAccidente"
                            ng-model="vm.vehiculoAfectadoEnAccidente.nombreConductorVehiculoAccidente"
                            required ng-maxlength="40" />
                    <div ng-show="editForm.nombreConductorVehiculoAccidente.$invalid">
                        <p class="help-block"
                            ng-show="editForm.nombreConductorVehiculoAccidente.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.nombreConductorVehiculoAccidente.$error.maxlength">
                            Este campo no puede tener mas de 10 caracteres.
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-6" ng-class="{'has-error':editForm.telefonoConductorVehiculoAccidente.$invalid}">
                    <label class="control-label" for="field_telefonoConductorVehiculoAccidente">Teléfono del conductor</label>
                    <input type="text" class="form-control" name="telefonoConductorVehiculoAccidente" id="field_telefonoConductorVehiculoAccidente"
                            ng-model="vm.vehiculoAfectadoEnAccidente.telefonoConductorVehiculoAccidente"
                            required ng-maxlength="10" />
                    <div ng-show="editForm.telefonoConductorVehiculoAccidente.$invalid">
                        <p class="help-block"
                            ng-show="editForm.telefonoConductorVehiculoAccidente.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.telefonoConductorVehiculoAccidente.$error.maxlength">
                            Este campo no puede tener mas de 10 caracteres.
                        </p>
                    </div>
                </div>
            </div>
        </div>
