<div>
    <h2><span class="fa fa-bar-chart"></span>&#xA0;Indicador O4 - Tiempo atención incidentes</h2>
    <uib-alert type="warning" close="vm.closeAlert()" dismiss-on-timeout="5000" ng-show="vm.diffDays > 60">
        <div class="text-center">Seleccione un rango de fechas <strong>menor a 60 días</strong> para descargar el reporte.</div>
    </uib-alert>
    <uib-alert type="warning" close="vm.closeAlert()" dismiss-on-timeout="5000" ng-show="vm.filterByIncumplido">
        <div class="text-center">Solo puede descargar el reporte para la totalidad de eventos.</div>
    </uib-alert>
    <div class="row report__header">
        <div class="col-xs-12 col-sm-12 col-md-7">
            <div class="row">
                <div class="form-group col-xs-12">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Filtrar resultados</legend>
                        <div class="col-xs-12 report__dates">
                            <!-- <div class="input-group">
                                <span class="input-group-addon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>&#xA0;Desde</span>
                                <input type="date" class="form-control" name="start" ng-model="vm.fromDate" ng-change="vm.onChangeDate()" required/>
                                <span class="input-group-addon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>&#xA0;Hasta</span>
                                <input type="date" class="form-control" name="end" ng-model="vm.toDate" ng-change="vm.onChangeDate()" required/>
                            </div>  -->
                            <div class="form-group col-xs-12 col-sm-6">
                                <label class="control-label" for="field_fromDate">Desde</label>
                                <div class="input-group">
                                    <input id="field_fromDate" type="text" class="form-control" name="start" datetime-picker="{{vm.dateFormat}}" enable-time="false" ng-model="vm.fromDate" is-open="vm.datePickerOpenStatus.fromDate" ng-change="vm.onChangeDate()" required/>
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fromDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label class="control-label" for="field_fechaInspeccion">Hasta</label>
                                <div class="input-group">
                                    <input id="field_toDate" type="text" class="form-control" name="end" datetime-picker="{{vm.dateFormat}}" enable-time="false" ng-model="vm.toDate" is-open="vm.datePickerOpenStatus.toDate" ng-change="vm.onChangeDate()" required/>
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('toDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-xs-12 text-center visible-md visible-lg">
                    <button ng-disabled="vm.diffDays > 60 || vm.filterByIncumplido || vm.incidentes.length == 0" class="btn btn-default" lazy-load="true" ng-csv="vm.incidentesAsCsv()" filename="{{vm.csvFilename}}" field-separator=";" decimal-separator="," csv-header="['Id evento', 'Fecha', 'Abscisa', 'Tramo', 'Tipo incidente', 'Tiempo señalización', 'Tiempo atención ambulancia', 'Tiempo atencion grúa', 'Cumple']">
                        <span class="fa fa-table fa-lg"></span> CSV
                    </button>
                    <button ng-disabled="vm.diffDays > 60 || vm.filterByIncumplido || vm.incidentes.length == 0" class="btn btn-default" title="Descargar reporte como PDF" ng-click="vm.incidentesAsPdf()">
                        <span class="fa fa-file-pdf-o fa-lg"></span> PDF
                    </button>
                    <!--        <div ng-if="">
                        <button class="btn btn-success" disabled>
                            <span class="fa fa-table fa-lg"></span> CSV
                        </button>
                        <button class="btn btn-danger" disabled>
                            <span class="fa fa-file-pdf-o fa-lg"></span> PDF
                        </button>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5">
            <fieldset class="scheduler-border entity-section-form-group">
                <legend class="scheduler-border">{{vm.porcentajeCumplimiento}}% de cumplimiento</legend>
                <div class="row">
                    <div class="col-xs-4 col-sm-offset-2 col-sm-3  col-md-offset-0 col-md-4 text-center vcenter">
                        <div ng-show="vm.pieValidationEventos()" ng-if="vm.pieValidationCumplimiento()" class="pie" style="animation-delay: -{{100-vm.porcentajeCumplimiento}}s" title="{{vm.porcentajeCumplimiento}}% de cumplimiento">
                        </div>
                        <div ng-show="vm.pieValidationEventos()" ng-if="!vm.pieValidationCumplimiento()" class="allwrongpie" style="animation-delay: -{{100-vm.porcentajeCumplimiento}}s;" title="{{vm.porcentajeCumplimiento}}% de cumplimiento">
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-7 col-md-8 report">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 report__summary-section">
                                <a class="node-link" ng-click="vm.verTodos()"><strong>Total eventos:</strong></a> &#xA0;{{ vm.totalEventos }}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 report__summary-section">
                                <a class="node-link" ng-click="vm.performFilterByIncumplido(true)"><strong>Total eventos que cumplen:</strong></a> &#xA0;{{ vm.totalEventosCumplen }}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 report__summary-section">
                                <a class="node-link" ng-click="vm.performFilterByIncumplido(false)"><strong>Total eventos que incumplen:</strong></a> &#xA0;{{ vm.totalEventosIncumplen }}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 report__summary-section">
                                <strong>Porcentaje de cumplimiento:</strong>&#xA0;{{ vm.porcentajeCumplimiento }}%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 text-center report__btn-action">
                    <button class="btn btn-warning btn-block" data-toggle="modal" data-target="#criteriosAceptacionO5">
                        &#xA0;Ver criterios de aceptación
                    </button>
                </div>
            </fieldset>
        </div>
        <div class="col-xs-12 text-center hidden-md hidden-lg report__summary-section">
            <div>
                <button ng-disabled="vm.diffDays > 60 || vm.filterByIncumplido || vm.incidentes.length == 0" class="btn btn-default" lazy-load="true" ng-csv="vm.incidentesAsCsv()" filename="{{vm.csvFilename}}" field-separator=";" decimal-separator="," csv-header="['Id evento', 'Fecha', 'Abscisa', 'Tramo', 'Tipo incidente', 'Tiempo señalización', 'Tiempo atención ambulancia', 'Tiempo atencion grúa', 'Cumple']">
                    <span class="fa fa-table fa-lg"></span> CSV
                </button>
                <button ng-disabled="vm.diffDays > 60 || vm.filterByIncumplido || vm.incidentes.length == 0" class="btn btn-default" title="Descargar reporte como PDF" ng-click="vm.incidentesAsPdf()">
                    <span class="fa fa-file-pdf-o fa-lg"></span> PDF
                </button>
            </div>
            <!--        <div ng-if="">
                        <button class="btn btn-success" disabled>
                            <span class="fa fa-table fa-lg"></span> CSV
                        </button>
                        <button class="btn btn-danger" disabled>
                            <span class="fa fa-file-pdf-o fa-lg"></span> PDF
                        </button>
                    </div> -->
        </div>
    </div>
    <div ng-show="vm.incidentesIsFill()">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th ng-click="predicate = 'id'; reverse=!reverse">
                            <span>Id evento</span>
                            <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='id', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='id'}"></i>
                        </th>
                        <th ng-click="predicate = 'fechaHora'; reverse=!reverse">
                            <span>Fecha</span>
                            <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='fechaHora', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='fechaHora'}"></i>
                        </th>
                        <th ng-click="predicate = 'abcisa'; reverse=!reverse">
                            <span>Abscisa</span>
                            <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='abcisa', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='abcisa'}"></i>
                        </th>
                        <th ng-click="predicate = 'tramo'; reverse=!reverse">
                            <span>Tramo</span>
                            <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='tramo', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='tramo'}"></i>
                        </th>
                        <th ng-click="predicate = 'tipoIncidente'; reverse=!reverse">
                            <span>Tipo incidente</span>
                            <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='tipoIncidente', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='tipoIncidente'}"></i>
                        </th>
                        <th ng-click="predicate = 'tiempoSenalizacion'; reverse=!reverse">
                            <span>Tiempo señalización</span>
                            <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='tiempoSenalizacion', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='tiempoSenalizacion'}"></i>
                        </th>
                        <th ng-click="predicate = 'tiempoDespeje'; reverse=!reverse">
                            <span>Tiempo despeje</span>
                            <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='tiempoDespeje', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='tiempoDespeje'}"></i>
                        </th>
                        <th ng-click="predicate = 'tiempoAtencionGrua'; reverse=!reverse">
                            <span>Tiempo atención grua</span>
                            <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='tiempoAtencionGrua', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='tiempoAtencionGrua'}"></i>
                        </th>
                        <th ng-click="predicate = 'cumple'; reverse=!reverse">
                            <span>¿Cumple?</span>
                            <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='cumple', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='cumple'}"></i>
                        </th>
                    </tr>
                </thead>
                <tr ng-repeat="incidente in vm.incidentes | filter:q | orderBy:predicate:reverse" ng-hide="incidente.filtered">
                    <td>{{ incidente.id }}</td>
                    <td>{{ incidente.fechaHora | date: 'yyyy-MM-dd HH:mm' }}</td>
                    <td>{{ incidente.abcisa }}</td>
                    <td>{{ incidente.tramo }}</td>
                    <td>{{ incidente.tipoIncidente }}</td>
                    <td>{{ incidente.tiempoSenalizacion }}</td>
                    <td>{{ incidente.tiempoDespeje }}</td>
                    <td>{{ incidente.tiempoAtencionGrua }}</td>
                    <td class="text-center">
                        <indicador-cumple cumple="incidente.cumple" class="small"></indicador-cumple>
                        <!-- <span class="label label-success" ng-show="incidente.cumple==true" style="cursor: pointer;">SÍ</span>
                        <span class="label label-danger" ng-show="incidente.cumple==false" style="cursor: pointer;">NO</span> -->
                    </td>
                </tr>
            </table>
        </div>
        <div class="text-center">
            <uib-pagination total-items="vm.totalItems" ng-change="vm.loadPage(vm.page)" ng-model='vm.page' class="pagination-sm" items-per-page='vm.itemsPerPage' boundary-links="true" max-size="5" />
            <div class="row">
                <div class="col-xs-12">
                    <p class="report__paginationText">Página {{vm.page}} de {{vm.numberOfPages}}</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{vm.itemsPerPage}} ítems por página <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="node-link" ng-click="vm.changeItemsPerPage(20)">20 ítems por página</a></li>
                            <li><a class="node-link" ng-click="vm.changeItemsPerPage(50)">50 ítems por página</a></li>
                            <li><a class="node-link" ng-click="vm.changeItemsPerPage(100)">100 ítems por página</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="!vm.incidentesIsFill()">
        <div class="middle-box text-center animated fadeInDown">
            <h2>No hay resultados para el criterio seleccionado</h2>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="criteriosAceptacionO5" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Indicador O4 - Criterios de aceptación</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-offset-3 col-xs-6 text-center report__modal-content-div">
                            <h3 class="text-info report__modal-content-title">Tiempo de señalización</h3>
                            <p class="report__modal-content-description">{{vm.criteriosAceptacion.tiempoSenalizacion/60}} hora </p>
                        </div>
                        <div class="col-xs-offset-3 col-xs-6 text-center report__modal-content-div">
                            <h3 class="text-info report__modal-content-title">Tiempo de despeje</h3>
                            <p class="report__modal-content-description">Derrumbes</p>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr class="warning">
                                    <th>
                                        <span>Volumen en m<sup>3</sup></span>
                                    </th>
                                    <th>
                                        <span>Ubicación</span>
                                    </th>
                                    <th>
                                        <span>Valor aceptación (En minutos)</span>
                                    </th>
                                    <th>
                                        <span>Valor aceptación (En horas)</span>
                                    </th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Menos de 200 m<sup>3</sup></td>
                                <td>Calzada</td>
                                <td>{{ vm.criteriosAceptacion.tiempoDespeje.calzadaMenos200 }}</td>
                                <td>{{ vm.criteriosAceptacion.tiempoDespeje.calzadaMenos200/60 }}</td>
                            </tr>
                            <tr>
                                <td>Menos de 200 m<sup>3</sup></td>
                                <td>Berma</td>
                                <td>{{ vm.criteriosAceptacion.tiempoDespeje.bermaMenos200 }}</td>
                                <td>{{ vm.criteriosAceptacion.tiempoDespeje.bermaMenos200/60 }}</td>
                            </tr>
                            <tr>
                                <td>Entre 201 y 2000 m<sup>3</sup></td>
                                <td>Calzada</td>
                                <td>{{ vm.criteriosAceptacion.tiempoDespeje.calzadaEntre201y2000 }}</td>
                                <td>{{ vm.criteriosAceptacion.tiempoDespeje.calzadaEntre201y2000/60 }}</td>
                            </tr>
                            <tr>
                                <td>Entre 201 y 2000 m<sup>3</sup></td>
                                <td>Berma</td>
                                <td>{{ vm.criteriosAceptacion.tiempoDespeje.bermaEntre201y2000 }}</td>
                                <td>{{ vm.criteriosAceptacion.tiempoDespeje.bermaEntre201y2000/60 }}</td>
                            </tr>
                            <tr>
                                <td>> 2000 m<sup>3</sup> condición especial</td>
                                <td>Nuevos dispositivos contención</td>
                                <td>{{ vm.criteriosAceptacion.tiempoDespeje.nuevosDispositivosMayor2000 }}</td>
                                <td>{{ vm.criteriosAceptacion.tiempoDespeje.nuevosDispositivosMayor2000/60 }}</td>
                            </tr>
                            <tr>
                                <td>> 2000 m<sup>3</sup> condición especial</td>
                                <td>Mayor dificultad</td>
                                <td>{{ vm.criteriosAceptacion.tiempoDespeje.mayorDificultadMayor2000 }}</td>
                                <td>{{ vm.criteriosAceptacion.tiempoDespeje.mayorDificultadMayor2000/60 }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="alert alert-info text-center">
                        <p>Para los demás tipos de incidente, el tiempo de despeje que se aplica es el mismo para los volúmenes menores a 200 m<sup>3</sup> de acuerdo con su ubicación (Berma o calzada)</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="vm.clear()" class="btn btn-default bfd-cancel" aria-hidden="true" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
