<div>
    <h2>Peajes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="peaje.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Crear un nuevo peaje.
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="kilometro"><span>Kilómetro</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="abscisa"><span>Abscisa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nombrePeaje"><span>Nombre Peaje</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tramoDePeaje.nombreTramo"><span>Tramo De Peaje</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="peaje in vm.peajes track by peaje.id">
                    <td><a ui-sref="peaje-detail({id:peaje.id})">{{peaje.id}}</a></td>
                    <td>{{peaje.kilometro}}</td>
                    <td>{{peaje.abscisa}}</td>
                    <td>{{peaje.nombrePeaje}}</td>
                    <td>
                        <a ui-sref="tramo-detail({id:peaje.tramoDePeaje.id})">{{peaje.tramoDePeaje.nombreTramo}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="peaje-detail({id:peaje.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="peaje.edit({id:peaje.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="peaje.delete({id:peaje.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
