        <!--<div class="form-group" ng-show="vm.inspeccionBaches.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.inspeccionBaches.id" readonly />
        </div>-->

        <h4>Información de la inspección:</h4>
        <div class="entity-section-form-group">
            <div class="row">
                <div class="form-group col-xs-12" ng-class="{'has-error':editForm.tramoDeInspeccionBaches.$invalid}">
                    <label class="control-label" for="field_tramoDeInspeccionBaches">Tramo</label>
                    <select required class="form-control" id="field_tramoDeInspeccionBaches" name="tramoDeInspeccionBaches" ng-model="vm.inspeccionBaches.tramoDeInspeccionBaches" ng-options="tramo as tramo.nombreTramo for tramo in vm.tramos track by tramo.id">
                        <option value=""></option>
                    </select>
                    <div ng-show="editForm.tramoDeInspeccionBaches.$invalid">
                        <p class="help-block"
                            ng-show="editForm.tramoDeInspeccionBaches.$error.required">
                            Este campo es obligatorio
                        </p>
                    </div>
                </div>
                <div class="col-xs-12" ng-if="vm.showMessageTramoChanged && vm.inspeccionBaches.id && editForm.$dirty">
                    <div class="alert alert-danger alert-entity-message">
                        El tramo ha sido cambiado, recuerde verificar la validez de los estados de esta inspección
                    </div>
                </div>
                <!-- <div class="form-group" ng-class="{'col-xs-2':vm.inspeccionBaches.id, 'hide':!vm.inspeccionBaches.id}">
                    <label class="control-label" for="field_cumple">Cumple</label>
                         <span ng-if="vm.inspeccionBaches.cumple" 
                            class=" indicador-cumple glyphicon glyphicon-ok-sign">
                            <span class="sr-only">Cumple</span>
                        </span>
                        <span ng-if="!vm.inspeccionBaches.cumple" 
                            class="indicador-no-cumple glyphicon glyphicon-remove-sign">
                            <span class="sr-only">No cumple</span>
                        </span>
                </div> -->
                <div class="form-group col-xs-6" 
                    ng-class="{'has-error':editForm.fechaInspeccion.$invalid}">
                    <label class="control-label" for="field_fechaInspeccion">Fecha de Inspección</label>
                    <div class="input-group">
                        <input required id="field_fechaInspeccion" type="text" class="form-control" 
                            name="fechaInspeccion" 
                            datetime-picker="{{dateformat}}" 
                            ng-model="vm.inspeccionBaches.fechaInspeccion" 
                            is-open="vm.datePickerOpenStatus.fechaInspeccion"
                          />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaInspeccion')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <div ng-show="editForm.fechaInspeccion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.fechaInspeccion.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fechaInspeccion.$error.datetime">
                            La fecha es inválida
                        </p>
                    </div>
                </div>

                <div class="form-group col-xs-6" 
                    ng-class="{'has-error':editForm.fechaVerificacion.$invalid}">
                    <label class="control-label" for="field_fechaVerificacion">Fecha de verificación</label>
                    <div class="input-group">
                        <input required id="field_fechaVerificacion" type="text" class="form-control" 
                            name="fechaVerificacion" 
                            datetime-picker="{{dateformat}}" 
                            ng-model="vm.inspeccionBaches.fechaVerificacion" 
                            is-open="vm.datePickerOpenStatus.fechaVerificacion"
                          />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaVerificacion')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <div ng-show="editForm.fechaVerificacion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.fechaVerificacion.$error.required">
                            Este campo es obligatorio para finalizar.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fechaVerificacion.$error.datetime">
                            La fecha es inválida
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fechaVerificacion.$error.fechaVerificacionNoEsMayor">
                            Debe ser posterior a la de inspección
                        </p>
                    </div>
                </div>



                
            </div>
            <div class="row" ng-if="vm.inspeccionBaches.id">
                <div class="col-xs-12">
                    <div class="alert alert-success alert-entity-message">
                        Se requiere la fecha de verificación para la finalización de los estados de esta inspección
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-offset-6" 
                    ng-if="vm.inspeccionBaches.id">
                    <button type="button" class="btn btn-primary btn-block" ui-sref="estado-baches({id: vm.inspeccionBaches.id})">
                        <span>
                            Estados
                            &nbsp
                        </span>
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>
        <!--
        <div class="form-group">
            <label class="control-label" for="field_vistoBuenoInterventor">Visto Bueno Interventor</label>
            <input type="checkbox" class="form-control" name="vistoBuenoInterventor" id="field_vistoBuenoInterventor"
                    ng-model="vm.inspeccionBaches.vistoBuenoInterventor"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cumple">Cumple</label>
            <input type="checkbox" class="form-control" name="cumple" id="field_cumple"
                    ng-model="vm.inspeccionBaches.cumple"
                     />
        </div>
        
        <div class="form-group">
            <label class="control-label" for="field_estado">Estado</label>
            <input type="text" class="form-control" name="estado" id="field_estado"
                    ng-model="vm.inspeccionBaches.estado"
                    ng-maxlength="10" />
            <div ng-show="editForm.estado.$invalid">
                <p class="help-block"
                    ng-show="editForm.estado.$error.maxlength">
                    This field cannot be longer than 10 characters.
                </p>
            </div>
        </div>
        -->