<template name="confDespliegue">
	<div class="container" id="container">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Configuración de la solución</h3>
      </div>
      
      <div class="panel-body" id="solutions-panel"> 
        <ol class="breadcrumb" style="text-align:right; background:#FFFFFF">
          <li><a href="arZonas">Zonas arquitectura de referencia</a></li>
          <li class="active">Vista Despliegue</li>
        </ol>

        <h4>2. Asocie los servicios a las máquinas donde serán desplegados</h4>
        <br>

        <div class="row">
          
          <div class="col-md-6"> 
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-6" style="text-align:center"> 
                <h3><small>Servicios</small></h3> 
              </div>
            </div> 
            {{#each services}}
              {{> selectedService}}
            {{/each}} 
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-8" style="text-align:center"> 
                <h3><small>Máquinas</small></h3> 
              </div>
            </div> 
            {{#each machines}}
              {{> machine}}
            {{/each}} 
          </div> 
        </div>
       
        <ol class="breadcrumb" style="text-align:right;background:#ffffff">
          <li><a href="confFuentesDatos">Siguiente</a></li>
        </ol>   
      </div><!-- /.panel-body -->       
    </div><!-- /.panel-primary -->
  </div><!-- /.container -->
</template>	

<template name="selectedService">
  <div class="row">
    <div class="col-md-4"></div>
  
    <div class="row">
      <div class="panel panel-default col-md-6" style="text-align:center" id="{{id}}">
        <div class="header">
          <strong>{{id}}</strong>
          <!-- <small class="pull-left">
            <a><i class="fa fa-times-circle removeService"></i></a>
          </small> -->  
        </div>
        {{name}}
      </div>
    </div> 
   
  </div>
</template>

<template name="machine">
  <div class="row">
    <div class="col-md-1"></div>

    <div class="row" > 
      <div class="panel panel-default col-md-8" style="text-align:center" id="{{machineId}}">
        <div class="header">
          <strong>{{name}}</strong>
        </div>
        {{ip}}
        <br>
        {{so}}
      </div>
    </div>  
  
  </div>  
</template> 