{#{% extends "base.html" %}#}
{#{% block content %}#}
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Welcome to ArchinotesX!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% if form.errors %}
                        <div class="col-md-8 col-md-offset-2">
                            <div class="alert alert-danger">
                                <strong>Your username and password didn't match.</strong> Please try again.
                            </div>
                        </div>
                    {% endif %}
                    {% if next %}
                        {% if user.is_authenticated %}
                            <p>Your account doesn't have access to this page. To proceed,
                                please login with an account that has access.</p>
                        {% else %}
                            <p>Please login to see this page.</p>
                        {% endif %}
                    {% endif %}
                    <div class="col-md-8 col-md-offset-2">
                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <table>
                                <tr>
                                    <td>{{ form.username.label_tag }}</td>
                                    <td>{{ form.username }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.password.label_tag }}</td>
                                    <td>{{ form.password }}</td>
                                </tr>
                            </table>
                            {#                                <div class="form-group">#}
                            {#                                    <label for="username">Username</label>#}
                            {#                                    <input type="text" class="form-control" id="username">#}
                            {#                                </div>#}
                            {#                                <div class="form-group">#}
                            {#                                    <label for="password">Password</label>#}
                            {#                                    <input type="password" class="form-control" id="password">#}
                            {#                                </div>#}

                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span>Log in</span>
                            </button>
                            <input type="hidden" name="next" value="{{ next }}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#{% endblock %}#}