        <!--<div class="form-group" ng-show="vm.indiceMortalidad.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.indiceMortalidad.id" readonly />
        </div>-->

        <h4>Información del indice:</h4>
        <div class="entity-section-form-group">
            <div class="row">
                <!--<div class="form-group col-xs-12" ng-class="{'has-error':editForm.tramoDeIndiceMortalidad.$invalid}">
                    <label class="control-label" for="field_tramoDeIndiceMortalidad">Tramo</label>
                    <select required class="form-control" id="field_tramoDeIndiceMortalidad" name="tramoDeIndiceMortalidad" ng-model="vm.indiceMortalidad.tramoDeIndiceMortalidad" ng-options="tramo as tramo.nombreTramo for tramo in vm.tramos track by tramo.id">
                        <option value=""></option>
                    </select>
                    <div ng-show="editForm.tramoDeIndiceMortalidad.$invalid">
                        <p class="help-block"
                            ng-show="editForm.tramoDeIndiceMortalidad.$error.required">
                            Este campo es obligatorio
                        </p>
                    </div>
                </div>-->
                <!-- <div class="form-group" ng-class="{'col-xs-2':vm.indiceMortalidad.id, 'hide':!vm.indiceMortalidad.id}">
                    <label class="control-label" for="field_cumple">Cumple</label>
                         <span ng-if="vm.indiceMortalidad.cumple" 
                            class=" indicador-cumple glyphicon glyphicon-ok-sign">
                            <span class="sr-only">Cumple</span>
                        </span>
                        <span ng-if="!vm.indiceMortalidad.cumple" 
                            class="indicador-no-cumple glyphicon glyphicon-remove-sign">
                            <span class="sr-only">No cumple</span>
                        </span>
                    
                    
                </div> -->
                <div class="form-group col-xs-6" 
                    ng-class="{'has-error':editForm.fechaInicial.$invalid}">
                    <label class="control-label" for="field_fechaInicial">Fecha Inicial</label>
                    <div class="input-group">
                        <input required id="field_fechaInicial" type="text" class="form-control" 
                            name="fechaInicial" 
                            datetime-picker="{{dateformat}}" 
                            ng-model="vm.indiceMortalidad.fechaInicial" 
                            is-open="vm.datePickerOpenStatus.fechaInicial"
                        />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaInicial')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                    <div ng-show="editForm.fechaInicial.$invalid">
                        <p class="help-block"
                            ng-show="editForm.fechaInicial.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fechaInicial.$error.datetime">
                            La fecha es inválida
                        </p>
                    </div>
                </div>
                <div class="form-group col-xs-6" 
                    ng-class="{'has-error':editForm.fechaFinal.$invalid}">
                    <label class="control-label" for="field_fechaFinal">Fecha Final</label>
                    <div class="input-group">
                        <input required id="field_fechaFinal" type="text" class="form-control" 
                            name="fechaFinal" 
                            datetime-picker="{{dateformat}}" 
                            ng-model="vm.indiceMortalidad.fechaFinal" 
                            is-open="vm.datePickerOpenStatus.fechaFinal"
                        />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaFinal')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                    <div ng-show="editForm.fechaFinal.$invalid">
                        <p class="help-block"
                            ng-show="editForm.fechaFinal.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fechaFinal.$error.datetime">
                            La fecha es inválida
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fechaFinal.$error.fechaFinalNoEsMayor">
                            Debe ser mayor a la inicial
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-4"
                    ng-class="{'has-error':editForm.cantidadTrafico.$invalid}">
                    <label class="control-label" for="field_cantidadTrafico">Cantidad tráfico</label>
                    <input type="number" class="form-control" name="cantidadTrafico" id="field_cantidadTrafico"
                            ng-model="vm.indiceMortalidad.cantidadTrafico"
                            required
                            min="0" max="10000000" />
                    <div ng-show="editForm.cantidadTrafico.$invalid">
                        <p class="help-block"
                            ng-show="editForm.cantidadTrafico.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.cantidadTrafico.$error.min" translate-value-min="1">
                            Este campo no debe ser menor a 1
                        </p>
                        <p class="help-block"
                            ng-show="editForm.cantidadTrafico.$error.max">
                            Este campo no debe ser mayor a 10000000.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.cantidadTrafico.$error.number">
                            Este campo es numérico
                        </p>
                    </div>
                </div>
                <div class="form-group col-xs-4"
                    ng-class="{'has-error':editForm.numeroVictimasFatales.$invalid}">
                    <label class="control-label" for="field_numeroVictimasFatales">No. víctimas fatales</label>
                    <input type="number" class="form-control" name="numeroVictimasFatales" id="field_numeroVictimasFatales"
                            ng-model="vm.indiceMortalidad.numeroVictimasFatales"
                            ng-disabled="true"
                            min="0"  /><!--max="100"-->
                    <div ng-show="editForm.numeroVictimasFatales.$invalid">
                        <p class="help-block"
                            ng-show="editForm.numeroVictimasFatales.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.numeroVictimasFatales.$error.min" translate-value-min="0">
                            Este campo no debe ser menor a 0
                        </p>
                        <!--<p class="help-block"
                            ng-show="editForm.numeroVictimasFatales.$error.max">
                            Este campo no debe ser mayor a 100.
                        </p>-->
                        <p class="help-block"
                            ng-show="editForm.numeroVictimasFatales.$error.number">
                            Este campo es numérico
                        </p>
                    </div>
                    <p class="help-block"
                        ng-if="vm.showUserToSaveMessage">
                        Debes guardar para ver el valor actualizado
                    </p>
                </div>
                <div class="form-group col-xs-4"
                    ng-class="{'has-error':editForm.indiceMortalidad.$invalid}">
                    <label class="control-label" for="field_indiceMortalidad">Índice de Mortalidad</label>
                    <input type="number" class="form-control" name="indiceMortalidad" id="field_numeroVictimasFatales"
                            ng-model="vm.indiceMortalidad.indiceMortalidad"
                            step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                            ng-disabled="true"
                            min="0"  /> <!--max="1"-->
                    <div ng-show="editForm.indiceMortalidad.$invalid">
                        <p class="help-block"
                            ng-show="editForm.indiceMortalidad.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.indiceMortalidad.$error.min" translate-value-min="0">
                            Este campo no debe ser menor a 0
                        </p>
                        <!--<p class="help-block"
                            ng-show="editForm.indiceMortalidad.$error.max">
                            Este campo no debe ser mayor a 1.
                        </p>-->
                        <p class="help-block"
                            ng-show="editForm.indiceMortalidad.$error.number">
                            Este campo es numérico
                        </p>
                    </div>
                    <p class="help-block"
                        ng-if="vm.showUserToSaveMessage">
                        Debes guardar para ver el valor actualizado
                    </p>
                </div>
            </div>
            <div class="row" ng-if="vm.indiceMortalidad.id">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary btn-block" ui-sref="indice-mortalidad-detalle({id: vm.indiceMortalidad.id})">
                        <span>
                            Detalles
                            &nbsp
                        </span>
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary btn-block" ui-sref="archivo-indice-mortalidad({id: vm.indiceMortalidad.id})">
                        <span>
                            Documentos
                            &nbsp
                        </span>
                        <span class="glyphicon glyphicon-file"></span>
                    </button>
                </div>
            </div>
        </div>
        <!--
        <div class="form-group">
            <label class="control-label" for="field_vistoBuenoInterventor">Visto Bueno Interventor</label>
            <input type="checkbox" class="form-control" name="vistoBuenoInterventor" id="field_vistoBuenoInterventor"
                    ng-model="vm.indiceMortalidad.vistoBuenoInterventor"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cumple">Cumple</label>
            <input type="checkbox" class="form-control" name="cumple" id="field_cumple"
                    ng-model="vm.indiceMortalidad.cumple"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_estado">Estado</label>
            <input type="text" class="form-control" name="estado" id="field_estado"
                    ng-model="vm.indiceMortalidad.estado"
                    ng-maxlength="10" />
            <div ng-show="editForm.estado.$invalid">
                <p class="help-block"
                    ng-show="editForm.estado.$error.maxlength">
                    This field cannot be longer than 10 characters.
                </p>
            </div>
        </div>
        -->