<div>
    <h2>Estructuras Hidráulicas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="estructura-hidraulica.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Crear una estrucutra hidráulica
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estructura"><span>Estructura</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="kilometro"><span>Kilómetro</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="abscisa"><span>Abscisa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="largo"><span>Largo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ancho"><span>Ancho</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="altura"><span>Altura</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="baseMayor"><span>Base Mayor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="baseMenor"><span>Base Menor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="radio"><span>Radio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tramoDeEstructura.nombreTramo"><span>Tramo de estructura</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="estructuraHidraulica in vm.estructuraHidraulicas track by estructuraHidraulica.id">
                    <td><a ui-sref="estructura-hidraulica-detail({id:estructuraHidraulica.id})">{{estructuraHidraulica.id}}</a></td>
                    <td>{{estructuraHidraulica.estructura}}</td>
                    <td>{{estructuraHidraulica.kilometro}}</td>
                    <td>{{estructuraHidraulica.abscisa}}</td>
                    <td>{{estructuraHidraulica.largo}}</td>
                    <td>{{estructuraHidraulica.ancho}}</td>
                    <td>{{estructuraHidraulica.altura}}</td>
                    <td>{{estructuraHidraulica.baseMayor}}</td>
                    <td>{{estructuraHidraulica.baseMenor}}</td>
                    <td>{{estructuraHidraulica.radio}}</td>
                    <td>
                        <a ui-sref="tramo-detail({id:estructuraHidraulica.tramoDeEstructura.id})">{{estructuraHidraulica.tramoDeEstructura.nombreTramo}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="estructura-hidraulica-detail({id:estructuraHidraulica.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="estructura-hidraulica.edit({id:estructuraHidraulica.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="estructura-hidraulica.delete({id:estructuraHidraulica.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
