        <!--<div class="form-group" ng-show="vm.colaPeaje.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.colaPeaje.id" readonly />
        </div>-->

        <h4>Información de la cola de peaje:</h4>
        <div class="entity-section-form-group">
            <div class="row">
                <div class="form-group col-xs-6" 
                    ng-class="{'has-error':editForm.fecha.$invalid}">
                    <label class="control-label" for="field_fecha">Fecha</label>
                        <div class="input-group">
                            <input required id="field_fecha" type="text" class="form-control" name="fecha" datetime-picker="{{dateformat}}" ng-model="vm.colaPeaje.fecha" is-open="vm.datePickerOpenStatus.fecha"
                            required  />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fecha')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    <div ng-show="editForm.fecha.$invalid">
                        <p class="help-block"
                            ng-show="editForm.fecha.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fecha.$error.datetime">
                            La fecha es inválida
                        </p>
                    </div>
                </div>
                <!-- <div class="form-group" ng-class="{'col-xs-2':vm.colaPeaje.id, 'hide':!vm.colaPeaje.id}">
                    <label class="control-label" for="field_cumple">Cumple</label>
                         <span ng-if="vm.colaPeaje.cumple" 
                            class=" indicador-cumple glyphicon glyphicon-ok-sign">
                            <span class="sr-only">Cumple</span>
                        </span>
                        <span ng-if="!vm.colaPeaje.cumple" 
                            class="indicador-no-cumple glyphicon glyphicon-remove-sign">
                            <span class="sr-only">No cumple</span>
                        </span>
                    
                    
                </div> -->
                <div class="form-group col-xs-6" 
                    ng-class="{'has-error':editForm.carrilesActivos.$invalid}">
                    <label class="control-label" for="field_carrilesActivos">Carriles activos</label>
                    <input type="number" class="form-control" name="carrilesActivos" id="field_carrilesActivos"
                            ng-model="vm.colaPeaje.carrilesActivos"
                            required
                            min="1" max="20" />
                    <div ng-show="editForm.carrilesActivos.$invalid">
                        <p class="help-block"
                            ng-show="editForm.carrilesActivos.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.carrilesActivos.$error.min" translate-value-min="1">
                            Este campo no debe ser menor a 1
                        </p>
                        <p class="help-block"
                            ng-show="editForm.carrilesActivos.$error.max">
                            Este campo no debe ser mayor a 20.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.carrilesActivos.$error.number">
                            Este campo es numérico
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-xs-12" ng-class="{'has-error':editForm.peaje.$invalid}">
                    <label class="control-label" for="field_peaje">Peaje</label>
                    <select required class="form-control" id="field_peaje" name="peaje" ng-model="vm.colaPeaje.peaje" ng-options="peaje as peaje.nombrePeaje for peaje in vm.peajes track by peaje.id">
                        <option value=""></option>
                    </select>
                    <div ng-show="editForm.peaje.$invalid">
                        <p class="help-block"
                            ng-show="editForm.peaje.$error.required">
                            Este campo es obligatorio.
                        </p>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label class="control-label" for="field_observaciones">Observaciones:</label>
                    <textarea class="form-control" rows="3" name="observaciones" 
                        id="field_observaciones" ng-model="vm.colaPeaje.observaciones" ng-maxlength="500" ></textarea>
                    <div ng-show="editForm.observaciones.$invalid">
                        <p class="help-block"
                            ng-show="editForm.observaciones.$error.maxlength">
                            Este campo no puede tener más de 500 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.colaPeaje.id">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary btn-block" ui-sref="cola-peaje-detalle({id: vm.colaPeaje.id})">
                        <span>
                            Detalles
                            &nbsp
                        </span>
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary btn-block" ui-sref="archivo-cola-peaje({id: vm.colaPeaje.id})">
                        <span>
                            Documentos
                            &nbsp
                        </span>
                        <span class="glyphicon glyphicon-file"></span>
                    </button>
                </div>
            </div>
        </div>
        <!--
        <div class="form-group">
            <label class="control-label" for="field_incumplimientos">Incumplimientos</label>
            <input type="number" class="form-control" name="incumplimientos" id="field_incumplimientos"
                    ng-model="vm.colaPeaje.incumplimientos"
                    min="0" max="1000" />
            <div ng-show="editForm.incumplimientos.$invalid">
                <p class="help-block"
                    ng-show="editForm.incumplimientos.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.incumplimientos.$error.max">
                    This field cannot be more than 1000.
                </p>
                <p class="help-block"
                    ng-show="editForm.incumplimientos.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cumple">Cumple</label>
            <input type="checkbox" class="form-control" name="cumple" id="field_cumple"
                    ng-model="vm.colaPeaje.cumple"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_estado">Estado</label>
            <input type="text" class="form-control" name="estado" id="field_estado"
                    ng-model="vm.colaPeaje.estado"
                    ng-maxlength="10" />
            <div ng-show="editForm.estado.$invalid">
                <p class="help-block"
                    ng-show="editForm.estado.$error.maxlength">
                    This field cannot be longer than 10 characters.
                </p>
            </div>
        </div>
        -->
