        <!--<div class="form-group" ng-show="vm.incidente.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.incidente.id" readonly />
        </div>->
        
        <!-- CAMPO OCULTADO, FECHA DE RECEPCION DE LLAMADA SE CALCULA CUANDO SE GUARDA-->
        <!--
        <div class="form-group hide">
            <label class="control-label" for="field_fechaRecepcionLlamada">Fecha Recepcion Llamada</label>
                <div class="input-group">
                    <input id="field_fechaRecepcionLlamada" type="text" class="form-control" name="fechaRecepcionLlamada" datetime-picker="{{dateformat}}" ng-model="vm.incidente.fechaRecepcionLlamada" is-open="vm.datePickerOpenStatus.fechaRecepcionLlamada"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaRecepcionLlamada')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        -->
        
        <div class="alert alert-info" ng-if="vm.incidente.id">
            Hora de recepción de la llamada: 
            <strong>{{vm.incidente.fechaRecepcionLlamada | date:'yyyy-MM-dd h:mm:ssa'}}</strong>
        </div>
        <h4>Clasificación del incidente:</h4>
        <div class="entity-section-form-group">
            
            <div class="row">
                <div class="form-group col-md-4" ng-class="{'has-error':editForm.tipoDeIncidente.$invalid}">
                    <label for="field_tipoDeIncidente">Tipo de incidente</label>
                    <select required class="form-control" id="field_tipoDeIncidente" name="tipoDeIncidente" ng-model="vm.incidente.tipoDeIncidente" ng-options="TipoIncidente as TipoIncidente.tipoIncidente for TipoIncidente in vm.tipoincidentes track by TipoIncidente.id" ng-change="vm.filterCausesByType()">
                        <option value=""></option>
                    </select>
                    <div ng-show="editForm.tipoDeIncidente.$invalid">
                        <p class="help-block"
                            ng-show="editForm.tipoDeIncidente.$error.required">
                            Este campo es obligatorio
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-4 col-sm-6" ng-class="{'has-error':editForm.causaDeIncidente.$invalid}">
                    <label for="field_causaDeIncidente">Posible causa</label>
                    <select class="form-control" id="field_causaDeIncidente" name="causaDeIncidente" ng-model="vm.incidente.causaDeIncidente" ng-options="CausaIncidente as CausaIncidente.causaIncidente for CausaIncidente in vm.causaincidentesFiltered  track by CausaIncidente.id" >
                        <option value=""></option>
                    </select>
                    <div ng-show="editForm.causaDeIncidente.$invalid">
                        <p class="help-block"
                            ng-show="editForm.causaDeIncidente.$error.required">
                            Este campo es obligatorio
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-4 col-sm-6" ng-class="{'has-error':editForm.climaEnIncidente.$invalid}">
                    <label for="field_climaEnIncidente">Factores climatológicos</label>
                    <select class="form-control" id="field_climaEnIncidente" name="climaEnIncidente" ng-model="vm.incidente.climaEnIncidente" ng-options="FactorClimatologico as FactorClimatologico.condicionClima for FactorClimatologico in vm.factorclimatologicos track by FactorClimatologico.id">
                        <option value=""></option>
                    </select>
                    <div ng-show="editForm.climaEnIncidente.$invalid">
                        <p class="help-block"
                            ng-show="editForm.climaEnIncidente.$error.required">
                            Este campo es obligatorio
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h4>Información de la persona que reporta:</h4>
        <div class="entity-section-form-group">
            <div class="row">
                <div class="form-group col-sm-5 col-md-6" ng-class="{'has-error':editForm.nombrePersonaQueReporta.$invalid}">
                    <label class="control-label" for="field_nombrePersonaQueReporta">Nombre</label>
                    <input type="text" class="form-control" name="nombrePersonaQueReporta" id="field_nombrePersonaQueReporta"
                            required
                            ng-model="vm.incidente.nombrePersonaQueReporta"
                            ng-minlength="5" ng-maxlength="40" />
                    <div ng-show="editForm.nombrePersonaQueReporta.$invalid">
                        
                        <p class="help-block"
                            ng-show="editForm.nombrePersonaQueReporta.$error.required">
                            Este campo es obligatorio
                        </p>
                        <p class="help-block"
                            ng-show="editForm.nombrePersonaQueReporta.$error.minlength" translate-value-min="5">
                            Este campo debe tener al menos 5 caracteres.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.nombrePersonaQueReporta.$error.maxlength">
                            Este campo no puede contener más de 40 caracteres.
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-3 col-md-3" ng-class="{'has-error':editForm.telefonoPersonaQueReporta.$invalid}">
                    <label class="control-label" for="field_telefonoPersonaQueReporta">Teléfono</label>
                    <input type="text" class="form-control" name="telefonoPersonaQueReporta" id="field_telefonoPersonaQueReporta"
                            required 
                            ng-model="vm.incidente.telefonoPersonaQueReporta"
                            ng-maxlength="10" />
                    <div ng-show="editForm.telefonoPersonaQueReporta.$invalid">
                        <p class="help-block"
                            ng-show="editForm.telefonoPersonaQueReporta.$error.required">
                            Este campo es obligatorio
                        </p>
                        <p class="help-block"
                            ng-show="editForm.telefonoPersonaQueReporta.$error.maxlength">
                            Este campo no puede tener más de 10 caracteres.
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    <br class="hidden-xs"/>
                    <input type="checkbox" name="reportadoPorTercero" id="field_reportadoPorTercero"
                            ng-model="vm.incidente.reportadoPorTercero"
                            />
                    <label class="control-label" for="field_reportadoPorTercero">Es un tercero?</label>
                </div>
            </div>
        </div>


        <h4>Infraestructura Afectada:</h4>
        <div class="entity-section-form-group">
            <div class="row">
                <div class="form-group col-sm-4"
                    ng-class="{'has-error':editForm.m3Derrumbe.$invalid && vm.incidente.tipoDeIncidente.tipoIncidente == 'Derrumbe'}" 
                    ng-if="vm.incidente.tipoDeIncidente.tipoIncidente == 'Derrumbe'">
                    <label class="control-label" for="field_m3Derrumbe">Cantidad de derrumbe(m<sup>3</sup>)</label>
                    <input  type="number" class="form-control" name="m3Derrumbe" id="field_m3Derrumbe"
                            ng-model="vm.incidente.m3Derrumbe"
                            ng-required="vm.incidente.tipoDeIncidente.tipoIncidente == 'Derrumbe'"
                            min="0" />
                    <div ng-show="editForm.m3Derrumbe.$invalid && vm.incidente.tipoDeIncidente.tipoIncidente == 'Derrumbe'">
                        <p class="help-block"
                            ng-show="editForm.m3Derrumbe.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.m3Derrumbe.$error.min" translate-value-min="0">
                            Este campo no debe ser menor a 0
                        </p>
                        <p class="help-block"
                            ng-show="editForm.m3Derrumbe.$error.number">
                            Este campo es numérico
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-6" 
                    ng-class="{'has-error':editForm.infraestructuraEnIncidente.$invalid && vm.incidente.id, 'col-sm-4': vm.incidente.tipoDeIncidente.tipoIncidente == 'Derrumbe'}">
                    <label for="field_infraestructuraEnIncidente">Infraestructura</label>
                    <select required class="form-control" id="field_infraestructuraEnIncidente" name="infraestructuraEnIncidente" ng-model="vm.incidente.infraestructuraEnIncidente" ng-options="InfraestructuraAfectada as InfraestructuraAfectada.infraestructuraAfectada for InfraestructuraAfectada in vm.infraestructuraafectadas track by InfraestructuraAfectada.id">
                        <option value=""></option>
                    </select>
                    <div ng-show="editForm.infraestructuraEnIncidente.$invalid && vm.incidente.id">
                        <p class="help-block"
                            ng-show="editForm.infraestructuraEnIncidente.$error.required">
                            Este campo es obligatorio para finalizar.
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-6" 
                ng-class="{'has-error':editForm.otraInfraestructuraAfectada.$invalid && vm.incidente.infraestructuraEnIncidente.infraestructuraAfectada == 'Otro', 
                            'col-sm-4': vm.incidente.tipoDeIncidente.tipoIncidente == 'Derrumbe'}">
                    <label class="control-label" for="field_otraInfraestructuraAfectada">Otra</label>
                    <input type="text" class="form-control" name="otraInfraestructuraAfectada" 
                            id="field_otraInfraestructuraAfectada"
                            ng-model="vm.incidente.otraInfraestructuraAfectada"
                            ng-minlength="3" ng-maxlength="20"
                            ng-required="vm.incidente.infraestructuraEnIncidente.infraestructuraAfectada == 'Otro'"
                            ng-disabled="vm.incidente.infraestructuraEnIncidente.infraestructuraAfectada != 'Otro'" />

                    <div ng-show="editForm.otraInfraestructuraAfectada.$invalid && vm.incidente.infraestructuraEnIncidente.infraestructuraAfectada == 'Otro'">
                        <p class="help-block"
                            ng-show="editForm.otraInfraestructuraAfectada.$error.required">
                            Este campo es obligatorio
                        </p>
                        <p class="help-block"
                            ng-show="editForm.otraInfraestructuraAfectada.$error.minlength" translate-value-min="3">
                            Este campo debe tener 3 caracteres como mínimo.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.otraInfraestructuraAfectada.$error.maxlength">
                            Este campo no puede tener más de 10 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6" ng-class="{'has-error':editForm.tramoDeIncidente.$invalid}">
                    <label for="field_tramoDeIncidente">Tramo</label>
                    <select required class="form-control" id="field_tramoDeIncidente" name="tramoDeIncidente" ng-model="vm.incidente.tramoDeIncidente" 
                    ng-options="tramo as tramo.nombreTramo for tramo in vm.tramos track by tramo.id"
                    ng-change="vm.onTramoChanged()">
                        <option value=""></option>
                    </select>
                    <div ng-show="editForm.tramoDeIncidente.$invalid">
                        <p class="help-block"
                            ng-show="editForm.tramoDeIncidente.$error.required">
                            Este campo es obligatorio
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-6" ng-class="{'has-error':editForm.kilometro.$invalid || editForm.abscisa.$invalid}">
                    <label class="control-label sr-only" for="field_kilometro">Kilometro + Abscisa</label>
                    <label class="control-label " for="field_kilometro">Kilómetro + Abscisa</label>

                    <div class="input-group">  
                        <div class="input-group-addon">Km</div>  
                        <input required type="number" class="form-control" name="kilometro" id="field_kilometro"
                                ng-model="vm.incidente.kilometro"
                                min="0" max="200" />
                        <div class="input-group-addon">+</div>
                        <input required type="number" class="form-control" name="abscisa" id="field_abscisa"
                                ng-model="vm.incidente.abscisa"
                                min="0" max="999" />
                    </div>
                    

                    <div ng-show="editForm.kilometro.$invalid || editForm.abscisa.$invalid">
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.min" translate-value-min="0">
                            El campo km no puede ser menor a 0
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.max">
                            El campo km no pude ser mayor a 200
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.number">
                            El campo km es numérico
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisa.$error.min" translate-value-min="0">
                            El campo abscisa no puede ser menor a 0.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisa.$error.max">
                            El campo abscisa no puede ser mayor a 999.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisa.$error.number">
                            El campo abscisa es numérico.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.required && !editForm.abscisa.$error.required">
                            El campo km es obligatorio.
                        </p>
                        
                        <p class="help-block"
                            ng-show="!editForm.kilometro.$error.required && editForm.abscisa.$error.required">
                            El campo abscisa es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.required && editForm.abscisa.$error.required">
                            Los campos Km y abscisa son obligatorios.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.tramoDesconocido">
                            No has seleccionado el tramo.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.kilometroAbscisaInvalid">
                            Valores por fuera del tramo comprendido de  {{vm.getTramo().origen}}
                            - {{vm.getTramo().destino}}.
                        </p>
                    </div>
                </div>
            

                <div class="col-sm-6 col-md-offset-6" 
                    ng-if="vm.incidente.tipoDeIncidente.tipoIncidente == 'Varado' && vm.incidente.id">
                    <button skip-disable type="button" class="btn btn-primary btn-block" ui-sref="vehiculo-afectado-en-incidente({id: vm.incidente.id})">
                        <span>
                            Vehículos afectados
                            &nbsp
                        </span>
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>

        <h4 ng-if="vm.incidente.id">Tiempos de atención:</h4>
        <div class="entity-section-form-group" ng-if="vm.incidente.id">
            <div class="row">
                <div class="form-group col-sm-6" ng-class="{'has-error':editForm.fechaInicioSenalizacion.$invalid}">
                    <label class="control-label" for="field_fechaInicioSenalizacion">Hora de señalización</label>
                    <div class="input-group">
                        <input required id="field_fechaInicioSenalizacion" type="text" class="form-control" 
                            name="fechaInicioSenalizacion" 
                            datetime-picker="{{dateformat}}" 
                            ng-model="vm.incidente.fechaInicioSenalizacion" 
                            is-open="vm.datePickerOpenStatus.fechaInicioSenalizacion"
                          />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaInicioSenalizacion')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <div ng-show="editForm.fechaInicioSenalizacion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.fechaInicioSenalizacion.$error.required">
                            Este campo es obligatorio para finalizar.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fechaInicioSenalizacion.$error.invalidFechaRecepcion">
                            La fecha de recepción de la llamada es inválido
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fechaInicioSenalizacion.$error.datetime">
                            La fecha es inválida
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fechaInicioSenalizacion.$error.fechaMenorAFechaRegistro">
                            La fecha debe ser mayor a {{vm.incidente.fechaRecepcionLlamada | date:'yyyy-MM-dd h:mm:ssa'}}.
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-6" ng-class="{'has-error':editForm.fechaFinDespeje.$invalid}">
                    <label class="control-label" for="field_fechaFinDespeje">Hora de finalización de despeje</label>
                    <div class="input-group">
                        <input required id="field_fechaFinDespeje" type="text" class="form-control" 
                            name="fechaFinDespeje" 
                            datetime-picker="{{dateformat}}" 
                            ng-model="vm.incidente.fechaFinDespeje" 
                            is-open="vm.datePickerOpenStatus.fechaFinDespeje"
                          />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaFinDespeje')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <div ng-show="editForm.fechaFinDespeje.$invalid">
                        <p class="help-block"
                            ng-show="editForm.fechaFinDespeje.$error.required">
                            Este campo es obligatorio para finalizar.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fechaFinDespeje.$error.invalidFechaRecepcion">
                            La fecha de recepción de la llamada es inválido.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fechaFinDespeje.$error.datetime">
                            La fecha es inválida.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fechaFinDespeje.$error.fechaMenorAFechaRegistro">
                            La fecha debe ser mayor a {{vm.incidente.fechaRecepcionLlamada | date:'yyyy-MM-dd h:mm:ssa'}}.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fechaFinDespeje.$error.fechaDespejeNoEsMayor">
                            La fecha debe ser posterior a las anteriores.
                        </p>
                    </div>
                </div>        
            </div>
        </div>

        <!-- CAMPO OCULTO TEMPORALMENTE - FECHA FIN SEÑALIZACIÓN -->
        <!--
        <div class="form-group hide">
            <label class="control-label" for="field_fechaFinSenalizacion">Fecha Fin Señalizacion</label>
                <div class="input-group">
                    <input id="field_fechaFinSenalizacion" type="text" class="form-control" name="fechaFinSenalizacion" datetime-picker="{{dateformat}}" ng-model="vm.incidente.fechaFinSenalizacion" is-open="vm.datePickerOpenStatus.fechaFinSenalizacion"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaFinSenalizacion')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        -->
        <!-- CAMPO OCULTO TEMPORALMENTE - FECHA INICIO DESPEJE -->
        <!--
        <div class="form-group hide">
            <label class="control-label" for="field_fechaInicioDespeje">Fecha Inicio Despeje</label>
                <div class="input-group">
                    <input id="field_fechaInicioDespeje" type="text" class="form-control" name="fechaInicioDespeje" datetime-picker="{{dateformat}}" ng-model="vm.incidente.fechaInicioDespeje" is-open="vm.datePickerOpenStatus.fechaInicioDespeje"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaInicioDespeje')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        -->

        <h4 ng-if="vm.incidente.id">Datos Adicionales:</h4>
        <div class="entity-section-form-group" ng-if="vm.incidente.id">
            <div class="row">
                <div class="form-group col-xs-12">
                    <input type="checkbox" name="requiereCierreDeVia" id="field_requiereCierreDeVia"
                    ng-model="vm.incidente.requiereCierreDeVia"
                     />
                    <label class="control-label" for="field_requiereCierreDeVia">Requiere cierre de la vía</label>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label" for="field_fechaInicioCierreVia">Hora de inicio de cierre</label>
                    <div class="input-group">
                        <input id="field_fechaInicioCierreVia" type="text" class="form-control" name="fechaInicioCierreVia" datetime-picker="{{dateformat}}" ng-model="vm.incidente.fechaInicioCierreVia" is-open="vm.datePickerOpenStatus.fechaInicioCierreVia" ng-disabled="!vm.incidente.requiereCierreDeVia"
                          />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaInicioCierreVia')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label" for="field_fechaFinCierreVia">Hora de fin de cierre</label>
                    <div class="input-group">
                        <input id="field_fechaFinCierreVia" type="text" class="form-control" name="fechaFinCierreVia" datetime-picker="{{dateformat}}" ng-model="vm.incidente.fechaFinCierreVia" is-open="vm.datePickerOpenStatus.fechaFinCierreVia" ng-disabled="!vm.incidente.requiereCierreDeVia"
                          />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaFinCierreVia')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label" for="field_entidadQueCierraVia">Entidad que realiza el cierre</label>
                    <input type="text" class="form-control" name="entidadQueCierraVia" id="field_entidadQueCierraVia"
                            ng-model="vm.incidente.entidadQueCierraVia"
                            ng-disabled="!vm.incidente.requiereCierreDeVia"
                            ng-maxlength="20" />
                    <div ng-show="editForm.entidadQueCierraVia.$invalid">
                        <p class="help-block"
                            ng-show="editForm.entidadQueCierraVia.$error.maxlength">
                            This field cannot be longer than 20 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label" for="field_tipoDeCierre">Tipo de cierre</label>
                    <br>
                    <div class="row">
                        <div class="col-sm-6 form-control-static">
                            <label>
                                <input type="radio" name="tipoDeCierre" id="field_tipoDeCierre"
                                    ng-disabled="!vm.incidente.requiereCierreDeVia"
                                    ng-model="vm.incidente.tipoDeCierre" value="Total"/>
                                Total
                            </label>        
                        </div>
                        <div class="col-sm-6 form-control-static" >
                            <label>
                                <input type="radio" name="tipoDeCierre" id="field_tipoDeCierre"
                                    ng-disabled="!vm.incidente.requiereCierreDeVia"
                                    ng-model="vm.incidente.tipoDeCierre" value="Parcial"/>
                                Parcial
                            </label>        
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.incidente.id">
                <div class="col-sm-6">
                    <button skip-disable type="button" class="btn btn-primary btn-block" ui-sref="vehiculo-de-apoyo-incidente({id: vm.incidente.id})">
                        <span>
                            Vehículos de apoyo  
                            &nbsp
                        </span>
                        <span class="glyphicon glyphicon-bullhorn"></span>
                    </button>
                </div>
                <div class="col-sm-6">
                    <button skip-disable type="button" class="btn btn-primary btn-block" ui-sref="archivo-incidente({id: vm.incidente.id})">
                        <span>
                            Documentos
                            &nbsp
                        </span>
                        <span class="glyphicon glyphicon-file"></span>
                    </button>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <label class="control-label" for="field_comentario">Comentarios:</label>
                <textarea class="form-control" rows="3" name="comentario" 
                    id="field_comentario" ng-model="vm.incidente.comentario" ng-maxlength="500" ></textarea>
                <div ng-show="editForm.comentario.$invalid">
                    <p class="help-block"
                        ng-show="editForm.comentario.$error.maxlength">
                        Este campo no puede tener más de 500 caracteres.
                    </p>
                </div>
            </div>
        </div>
        <!--
        <div class="form-group">
            <label class="control-label" for="field_comentarioInterventor">Comentario Interventor</label>
            <input type="text" class="form-control" name="comentarioInterventor" id="field_comentarioInterventor"
                    ng-model="vm.incidente.comentarioInterventor"
                    ng-maxlength="500" />
            <div ng-show="editForm.comentarioInterventor.$invalid">
                <p class="help-block"
                    ng-show="editForm.comentarioInterventor.$error.maxlength">
                    This field cannot be longer than 500 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_vistoBuenoInterventor">Visto Bueno Interventor</label>
            <input type="checkbox" class="form-control" name="vistoBuenoInterventor" id="field_vistoBuenoInterventor"
                    ng-model="vm.incidente.vistoBuenoInterventor"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cumple">Cumple</label>
            <input type="checkbox" class="form-control" name="cumple" id="field_cumple"
                    ng-model="vm.incidente.cumple"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_estado">Estado</label>
            <input type="text" class="form-control" name="estado" id="field_estado"
                    ng-model="vm.incidente.estado"
                    ng-maxlength="10" />
            <div ng-show="editForm.estado.$invalid">
                <p class="help-block"
                    ng-show="editForm.estado.$error.maxlength">
                    This field cannot be longer than 10 characters.
                </p>
            </div>
        </div>
        -->