{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Archinotes: An ArcOps framework">
    <meta name="author" content="Lorena Salamanca, adapted from StartBootstrap">

    <title>ArchinotesX: An ArcOps framework</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/b-bootstrap/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/e-main/background.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/e-main/landing-page.css' %}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/c-fontawesome/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">

    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top topnav" role="navigation">
    <div class="container topnav navbar-right">
        <div class="col-xs-6 navbar-title">
            <h4><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;ArchinotesX&nbsp;|&nbsp;An ArcOps framework</h4>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <div class="col-xs-3" style="padding-top: 15px;">
                <li class="text-right">
                    <a class="github-button" href="https://github.com/imTachu/ArchinotesX"
                       data-count-href="/imTachu/ArchinotesX/stargazers"
                       data-count-api="/repos/imTachu/ArchinotesX#stargazers_count"
                       data-count-aria-label="# stargazers on GitHub" aria-label="Star imTachu/ArchinotesX on GitHub">Star</a>
                </li>
            </div>
            <div class="col-xs-3 login-button">
                <button type="button" class="btn btn-success" data-toggle="modal" href="#myModal">
                    <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                    <span>Log in</span>
                </button>
            </div>
        </div>
    </div>
</nav>

<div class="intro-header">
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;ArchinotesX</h1>
                    <div class="type-wrap">
                        <h3>An ArcOps framework for every software
                            <div id="typed-string">
                                <p>architect.</p>
                                <p>team.</p>
                                <p>project.</p>
                            </div>
                            <span id="typed" style="white-space:pre;"></span>
                        </h3>
                    </div>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://github.com/imTachu/ArchinotesX" class="btn btn-default btn-lg"><i
                                    class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">By adopting an ArcOps strategy,</h2>
                <p class="lead">You create a continuous workflow between architects, developers and system
                    administrators aligning all the artifacts in your software.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="{% static 'img/landing-1.jpg' %}" alt="">
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Keep your architecture and your app on the same track</h2>
                <p class="lead">In a demanding business, software evolves, and its architecture should too!, ArchinotesX
                    allows you to <em>deploy</em> your architecture. Test it, stress it, use it.</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="{% static 'img/landing-2.jpg' %}" alt="">
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Somethings just happen over and over again...</h2>
                <p class="lead">ArchinotesX is oriented to the explicit scenario where there are multiple data sources
                    and the business need is to constantly create and update microservices that will bring specific
                    information from those sources.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="{% static 'img/landing-3.jpg' %}" alt="">
            </div>
        </div>
    </div>
</div>

<div class="login">


    {% include "registration/login.html" %}

</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright text-muted small">ArchinotesX is developed for a MSc thesis at
                    <a href="https://sistemas.uniandes.edu.co/es/miso">Universidad de Los Andes</a> by
                    <a href="https://co.linkedin.com/in/dcorreal">Dario Correal</a> and
                    <a href="https://www.linkedin.com/in/lorenasalamanca">Lorena Salamanca</a></p>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'js/a-jquery/jquery.js' %}"></script>
<script src="{% static 'js/g-typed/typed.min.js' %}"></script>
<script src="{% static 'js/c-bootstrap/bootstrap.min.js' %}"></script>
<script>
    $(function () {
        $("#typed").typed({
            stringsElement: $('#typed-string'),
            typeSpeed: 70,
            backDelay: 800,
            loop: true,
            contentType: 'html',
            loopCount: false,
            callback: function () {
                foo();
            },
            resetCallback: function () {
                newTyped();
            }
        });
        $(".reset").click(function () {
            $("#typed").typed('reset');
        });
    });

    function newTyped() {
    }

    function foo() {
        console.log("Callback");
    }
</script>
</body>

</html>
