<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Contraseña para [<b>{{vm.account.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>¡Contraseña actualizada!</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.error" >
                <strong>¡Ha ocurrido un error!</strong> La contraseña no pudo ser cambiada.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                La contraseña y su confirmación no coinciden!
            </div>

            <form name="form" role="form" novalidate ng-submit="vm.changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="password">Nueva contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Nueva contraseña"
                           ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            Se requiere una contraseña
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Su contraseña debe tener al menos 4 caracteres.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            Su contraseña no debe tener más de 50 caracteres.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Confirmación de contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirmar la nueva contraseña"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            Se requiere la confirmación de contraseña
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            La confirmación de contraseña debe tener al menos 4 caracteres
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            La confirmación de contraseña no puede tener más de 50 caracteres.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>
