<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Password for [<b>{{vm.account.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>¡Password updated!</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.error" >
                <strong>¡Something happened!</strong> Your password couldn't be changed.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                Password and password confirmation does not match!
            </div>

            <form name="form" role="form" novalidate ng-submit="vm.changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="password">New password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                           ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            Password required
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Password should have at least 4 characters
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            A password can't be that long! D:
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Password confirmation"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            Password confirmation required
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            Password confirmation should have at least 4 characters
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            A password can't be that long! D:
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
