<h4>Remember, only PostgreSQL databases are allowed</h4>
<div class="entity-section-form-group">
    <div class="row">
        <div class="form-group col-sm-5 col-md-6" ng-class="{'has-error':editForm.nombrePersonaQueReporta.$invalid}">
            <label class="control-label" for="field_nombrePersonaQueReporta">Host</label>
            <input type="text" class="form-control" name="nombrePersonaQueReporta" id="field_nombrePersonaQueReporta"
                   ng-model="vm.sqldatasource.nombrePersonaQueReporta"
                   required
                   ng-minlength="2" ng-maxlength="500"/>
            <div ng-show="editForm.nombrePersonaQueReporta.$invalid">
                <p class="help-block"
                   ng-show="editForm.nombrePersonaQueReporta.$error.required">
                    This field is mandatory
                </p>
            </div>
        </div>
        <div class="form-group col-sm-3 col-md-3" ng-class="{'has-error':editForm.telefonoPersonaQueReporta.$invalid}">
            <label class="control-label" for="field_telefonoPersonaQueReporta">Port</label>
            <input type="text" class="form-control" name="telefonoPersonaQueReporta"
                   id="field_telefonoPersonaQueReporta"
                   ng-model="vm.sqldatasource.telefonoPersonaQueReporta"
                   required
                   ng-maxlength="5"/>
            <div ng-show="editForm.telefonoPersonaQueReporta.$invalid">
                <p class="help-block"
                   ng-show="editForm.telefonoPersonaQueReporta.$error.required">
                    This field is mandatory
                </p>
                <p class="help-block"
                   ng-show="editForm.telefonoPersonaQueReporta.$error.maxlength">
                    This field can't be that long. IT IS A PORT!
                </p>
            </div>
        </div>
        <div class="form-group col-sm-6"
             ng-class="{'has-error':editForm.kilometro.$invalid || editForm.abscisa.$invalid}">
            <label class="control-label sr-only" for="field_kilometro">Authentication</label>
            <label class="control-label " for="field_kilometro">Authentication</label>

            <div class="input-group">
                <div class="input-group-addon">Username</div>
                <input required type="number" class="form-control" name="kilometro" id="field_kilometro"
                       ng-model="vm.sqldatasource.kilometro"
                       min="0" max="200"
                       ng-class="{'has-error':editForm.kilometro.$invalid}"
                />
                <div class="input-group-addon">Password</div>
                <input required type="number" class="form-control" name="abscisa" id="field_abscisa"
                       ng-model="vm.sqldatasource.abscisa"
                       min="0" max="999"
                       ng-class="{'has-error':editForm.abscisa.$invalid}"/>
            </div>
        </div>

        <div class="form-group col-sm-3 col-md-3" ng-class="{'has-error':editForm.telefonoPersonaQueReporta.$invalid}">
            <label class="control-label" for="field_telefonoPersonaQueReporta">DB Name</label>
            <input type="text" class="form-control" name="telefonoPersonaQueReporta"
                   id="field_telefonoPersonaQueReporta"
                   ng-model="vm.sqldatasource.telefonoPersonaQueReporta"
                   required
                   ng-maxlength="5"/>
            <div ng-show="editForm.telefonoPersonaQueReporta.$invalid">
                <p class="help-block"
                   ng-show="editForm.telefonoPersonaQueReporta.$error.required">
                    This field is mandatory
                </p>
                <p class="help-block"
                   ng-show="editForm.telefonoPersonaQueReporta.$error.maxlength">
                    This field can't be that long. IT IS A PORT!
                </p>
            </div>
        </div>
    </div>
</div>
