        <!-- <div class="form-group" ng-show="vm.vehiculoAfectadoEnIncidente.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.vehiculoAfectadoEnIncidente.id" readonly />
        </div> -->
        <h4>Vehículo afectado en incidente:</h4>
        <div class="entity-section-form-group">
            <div class="row">
                <div class="form-group col-sm-8" ng-class="{'has-error':editForm.vehiculoAfectadoEnIncidente.$invalid}">
                    <label for="field_vehiculoAfectadoEnIncidente">Tipo de vehículo afectado</label>
                    <select required class="form-control" id="field_vehiculoAfectadoEnIncidente" name="vehiculoAfectadoEnIncidente" ng-model="vm.vehiculoAfectadoEnIncidente.vehiculoAfectadoEnIncidente" ng-options="tipoVehiculoAfectado as tipoVehiculoAfectado.tipoVehiculo for tipoVehiculoAfectado in vm.tipovehiculoafectados track by tipoVehiculoAfectado.id">
                        <option value=""></option>
                    </select>
                    <div ng-show="editForm.vehiculoAfectadoEnIncidente.$invalid">
                        <p class="help-block"
                            ng-show="editForm.vehiculoAfectadoEnIncidente.$error.required">
                            Este campo es obligatorio.
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-4" ng-class="{'has-error':editForm.placasVehiculoIncidente.$invalid}">
                    <label class="control-label" for="field_placasVehiculoIncidente">Placas del vehículo</label>
                    <input type="text" class="form-control" name="placasVehiculoIncidente" id="field_placasVehiculoIncidente"
                            ng-model="vm.vehiculoAfectadoEnIncidente.placasVehiculoIncidente"
                            required ng-maxlength="10" />
                    <div ng-show="editForm.placasVehiculoIncidente.$invalid">
                        <p class="help-block"
                            ng-show="editForm.placasVehiculoIncidente.$error.required">
                            Este campo es obligatorio
                        </p>
                        <p class="help-block"
                            ng-show="editForm.placasVehiculoIncidente.$error.maxlength">
                            Este campo no puede tener más de 10 caracteres.
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-6" ng-class="{'has-error':editForm.nombreConductorVehiculoIncidente.$invalid}">
                    <label class="control-label" for="field_nombreConductorVehiculoIncidente">Nombre del conductor</label>
                    <input type="text" class="form-control" name="nombreConductorVehiculoIncidente" id="field_nombreConductorVehiculoIncidente"
                            ng-model="vm.vehiculoAfectadoEnIncidente.nombreConductorVehiculoIncidente"
                            required ng-maxlength="40" />
                    <div ng-show="editForm.nombreConductorVehiculoIncidente.$invalid">
                        <p class="help-block"
                            ng-show="editForm.nombreConductorVehiculoIncidente.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.nombreConductorVehiculoIncidente.$error.maxlength">
                            Este campo no puede tener más de 40 caracteres.
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-6" ng-class="{'has-error':editForm.telefonoConductorVehiculoIncidente.$invalid}">
                    <label class="control-label" for="field_telefonoConductorVehiculoIncidente">Teléfono</label>
                    <input type="text" class="form-control" name="telefonoConductorVehiculoIncidente" id="field_telefonoConductorVehiculoIncidente"
                            ng-model="vm.vehiculoAfectadoEnIncidente.telefonoConductorVehiculoIncidente"
                            required ng-maxlength="10" />
                    <div ng-show="editForm.telefonoConductorVehiculoIncidente.$invalid">
                        <p class="help-block"
                            ng-show="editForm.telefonoConductorVehiculoIncidente.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.telefonoConductorVehiculoIncidente.$error.maxlength">
                            Este campo no puede tener más de 10 caracteres.
                        </p>
                    </div>
                </div>
            </div>
        </div>