        <!--
        <div class="form-group" ng-show="vm.estadoBarreraContencion.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.estadoBarreraContencion.id" readonly />
        </div>
        -->

        <h4>Información del estado: <span class="label label-success">{{vm.getStateStatusLabel()}}</span></h4>
        <div class="entity-section-form-group">
            <div class="row">
                <div class="form-group col-xs-12" ng-class="{'has-error':editForm.estructuraContencionDeInspeccion.$invalid, 'col-xs-10':vm.estadoBarreraContencion.id}">
                    <!-- <label class="control-label" for="field_estructuraContencionDeInspeccion">Estructura</label>
                    <select required class="form-control" id="field_estructuraContencionDeInspeccion" name="estructuraContencionDeInspeccion" ng-model="vm.estadoBarreraContencion.estructuraContencionDeInspeccion" ng-options="estructuraContencion as estructuraContencion.estructura for estructuraContencion in vm.estructuracontencions track by estructuraContencion.id">
                        <option value=""></option>
                    </select>
                    <div ng-show="editForm.estructuraContencionDeInspeccion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.estructuraContencionDeInspeccion.$error.required">
                            Este campo es obligatorio
                        </p>
                    </div> -->

                    <label class="control-label" for="field_estructuraContencionDeInspeccion">Estructura</label>
                    <input autocomplete="off" type="text" ng-model="vm.estructuraOptionsSelected" required
                    ng-model-options="vm.typeHeadModelOptions" id="field_estructuraContencionDeInspeccion" name="estructuraContencionDeInspeccion" placeholder="Ej: Km inicial XX - Ab inicial YY - Km final ZZ - Ab final WW - margen: XX"
                    uib-typeahead="estructuraContencion as estructuraContencion.label for estructuraContencion in vm.estructuracontencions | filter:{label:$viewValue} | limitTo:15" class="form-control">
                    <div ng-show="editForm.estructuraContencionDeInspeccion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.estructuraContencionDeInspeccion.$error.required">
                            Este campo es obligatorio
                        </p>
                        <p class="help-block"
                            ng-show="editForm.estructuraContencionDeInspeccion.$error.debeEscogerEstructura">
                            Debe seleccionar una estructura válida de la lista
                        </p>
                    </div>
                </div>
                <div class="form-group" ng-class="{'col-sm-2':vm.estadoBarreraContencion.id, 'hide':!vm.estadoBarreraContencion.id}">
                    <label class="control-label" for="field_cumple">¿Ha cumplido?</label>
                    <indicador-cumple cumple="vm.estadoBarreraContencion.cumple"></indicador-cumple>   
                </div>
                <div class="form-group col-xs-12 col-sm-6" ng-class="{'has-error':editForm.kilometroInicial.$invalid || editForm.abscisaInicial.$invalid}">
                    <label class="control-label sr-only" for="field_kilometroInicial">kilometro + Abscisa Inicial</label>
                    <label class="control-label " for="field_kilometroInicial">Kilómetro + Abscisa Inicial</label>

                    <div class="input-group">  
                        <div class="input-group-addon">Km</div>  
                        <input type="number" class="form-control" name="kilometroInicial" id="field_kilometroInicial"
                                ng-model="vm.estadoBarreraContencion.kilometroInicial" ng-disabled="true"
                                min="0" max="200" />
                        <div class="input-group-addon">+</div>
                        <input type="number" class="form-control" name="abscisaInicial" id="field_abscisaInicial"
                                ng-model="vm.estadoBarreraContencion.abscisaInicial" ng-disabled="true"
                                min="0" max="999" />
                    </div>
                    

                    <div ng-show="editForm.kilometroInicial.$invalid || editForm.abscisaInicial.$invalid">
                        <p class="help-block"
                            ng-show="editForm.kilometroInicial.$error.min" translate-value-min="0">
                            El campo km no puede ser menor a 0
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometroInicial.$error.max">
                            El campo km no pude ser mayor a 200
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometroInicial.$error.number">
                            El campo km es numérico
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisaInicial.$error.min" translate-value-min="0">
                            El campo abscisa no puede ser menor a 0.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisaInicial.$error.max">
                            El campo abscisa no puede ser mayor a 999.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisaInicial.$error.number">
                            El campo abscisa es numérico.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometroInicial.$error.required && !editForm.abscisaInicial.$error.required">
                            El campo km es obligatorio.
                        </p>
                        
                        <p class="help-block"
                            ng-show="!editForm.kilometroInicial.$error.required && editForm.abscisaInicial.$error.required">
                            El campo abscisa es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometroInicial.$error.required && editForm.abscisaInicial.$error.required">
                            Los campos Km y abscisa son obligatorios.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometroInicial.$error.kilometroAbscisaInvalid">
                            Valores por fuera del tramo comprendido de  {{vm.getTramo().origen}}
                            - {{vm.getTramo().destino}}.
                        </p>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6" ng-class="{'has-error':editForm.kilometroFinal.$invalid || editForm.abscisaFinal.$invalid}">
                    <label class="control-label sr-only" for="field_kilometroFinal">kilometro + Abscisa Final</label>
                    <label class="control-label " for="field_kilometroFinal">Kilómetro + Abscisa Final</label>

                    <div class="input-group">  
                        <div class="input-group-addon">Km</div>  
                        <input type="number" class="form-control" name="kilometroFinal" id="field_kilometroFinal"
                                ng-model="vm.estadoBarreraContencion.kilometroFinal" ng-disabled="true"
                                min="0" max="200" />
                        <div class="input-group-addon">+</div>
                        <input type="number" class="form-control" name="abscisaFinal" id="field_abscisaFinal"
                                ng-model="vm.estadoBarreraContencion.abscisaFinal" ng-disabled="true"
                                min="0" max="999" />
                    </div>
                    

                    <div ng-show="editForm.kilometroFinal.$invalid || editForm.abscisaFinal.$invalid">
                        <p class="help-block"
                            ng-show="editForm.kilometroFinal.$error.min" translate-value-min="0">
                            El campo km no puede ser menor a 0
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometroFinal.$error.max">
                            El campo km no pude ser mayor a 200
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometroFinal.$error.number">
                            El campo km es numérico
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisaFinal.$error.min" translate-value-min="0">
                            El campo abscisa no puede ser menor a 0.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisaFinal.$error.max">
                            El campo abscisa no puede ser mayor a 999.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisaFinal.$error.number">
                            El campo abscisa es numérico.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometroFinal.$error.required && !editForm.abscisaFinal.$error.required">
                            El campo km es obligatorio.
                        </p>
                        
                        <p class="help-block"
                            ng-show="!editForm.kilometroFinal.$error.required && editForm.abscisaFinal.$error.required">
                            El campo abscisa es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometroFinal.$error.required && editForm.abscisaFinal.$error.required">
                            Los campos Km y abscisa son obligatorios.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometroFinal.$error.kilometroAbscisaInvalid">
                            Valores por fuera del tramo comprendido de  {{vm.getTramo().origen}}
                            - {{vm.getTramo().destino}}.
                        </p>
                    </div>
                </div>
                
            </div>
            <div class="row" ng-if="!vm.isEstadoInVerification()">
                <div class="form-group col-xs-3">
                    <input type="checkbox" name="estadoEstructuralInspeccion" id="field_estadoEstructuralInspeccion"
                            ng-model="vm.estadoBarreraContencion.estadoEstructuralInspeccion"
                             />
                    <label class="control-label" for="field_estadoEstructuralInspeccion">Estructural</label>
                </div>
                <div class="form-group col-xs-3">
                    <input type="checkbox" name="estadoAlineacionInspeccion" id="field_estadoAlineacionInspeccion"
                            ng-model="vm.estadoBarreraContencion.estadoAlineacionInspeccion"
                             />
                    <label class="control-label" for="field_estadoAlineacionInspeccion">Alineación</label>
                </div>
                <div class="form-group col-xs-3">
                    <input type="checkbox" name="estadoOxidacionInspeccion" id="field_estadoOxidacionInspeccion"
                            ng-model="vm.estadoBarreraContencion.estadoOxidacionInspeccion"
                             />
                    <label class="control-label" for="field_estadoOxidacionInspeccion">Oxidación</label>
                </div>
                <div class="form-group col-xs-3">
                    <input type="checkbox" name="estadoAnclajeInspeccion" id="field_estadoAnclajeInspeccion"
                            ng-model="vm.estadoBarreraContencion.estadoAnclajeInspeccion"
                             />
                    <label class="control-label" for="field_estadoAnclajeInspeccion">Anclaje</label>
                </div>
                <div class="form-group col-xs-12">
                    <label class="control-label" for="field_observacionesInspeccion">Observaciones inspección:</label>
                    <textarea class="form-control" rows="3" name="observacionesInspeccion" 
                        id="field_observacionesInspeccion" ng-model="vm.estadoBarreraContencion.observacionesInspeccion" ng-maxlength="400" ></textarea>
                    <div ng-show="editForm.observacionesInspeccion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.observacionesInspeccion.$error.maxlength">
                            Este campo no puede tener más de 400 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.isEstadoInVerification()">
                <div class="form-group col-xs-3">
                    <input type="checkbox" name="estadoEstructuralVerificacion" id="field_estadoEstructuralVerificacion"
                            ng-model="vm.estadoBarreraContencion.estadoEstructuralVerificacion"
                             />
                    <label class="control-label" for="field_estadoEstructuralVerificacion">Estructural</label>
                </div>
                <div class="form-group col-xs-3">
                    <input type="checkbox" name="estadoAlineacionVerificacion" id="field_estadoAlineacionVerificacion"
                            ng-model="vm.estadoBarreraContencion.estadoAlineacionVerificacion"
                             />
                    <label class="control-label" for="field_estadoAlineacionVerificacion">Alineación</label>
                </div>
                <div class="form-group col-xs-3">
                    <input type="checkbox" name="estadoOxidacionVerificacion" id="field_estadoOxidacionVerificacion"
                            ng-model="vm.estadoBarreraContencion.estadoOxidacionVerificacion"
                             />
                    <label class="control-label" for="field_estadoOxidacionVerificacion">Oxidación</label>
                </div>
                <div class="form-group col-xs-3">
                    <input type="checkbox" name="estadoAnclajeVerificacion" id="field_estadoAnclajeVerificacion"
                            ng-model="vm.estadoBarreraContencion.estadoAnclajeVerificacion"
                             />
                    <label class="control-label" for="field_estadoAnclajeVerificacion">Anclaje</label>
                </div>
                <div class="form-group col-xs-12">
                    <label class="control-label" for="field_observacionesVerificacion">Observaciones inspección:</label>
                    <textarea class="form-control" rows="3" name="observacionesVerificacion" 
                        id="field_observacionesVerificacion" ng-model="vm.estadoBarreraContencion.observacionesVerificacion" ng-maxlength="400" ></textarea>
                    <div ng-show="editForm.observacionesVerificacion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.observacionesVerificacion.$error.maxlength">
                            Este campo no puede tener más de 400 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.isEstadoInVerification()">
                <div class="col-xs-12">
                    <div class="alert alert-success alert-entity-message">
                        Se requiere la <strong>fecha de verificación</strong> en el panel principal <a ui-sref="inspeccion-barrera-contencion.edit"><strong>(Información de la inspección)</strong></a>, de lo contrario, se calculará el cumplimiento basado en la fecha y hora del sistema
                        }
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.estadoBarreraContencion.id">
                <div class="col-sm-6 col-md-offset-6">
                    <button type="button" class="btn btn-primary btn-block" ui-sref="archivo-inspeccion-barrera({id_estado_barrera_contencion: vm.estadoBarreraContencion.id})">
                        <span>
                            Evidencia 
                            &nbsp
                        </span>
                        <span class="glyphicon glyphicon-file"></span>
                    </button>
                </div>
            </div>
        </div>
        <!--<div class="form-group">
            <label class="control-label" for="field_cumple">Cumple</label>
            <input type="checkbox" class="form-control" name="cumple" id="field_cumple"
                    ng-model="vm.estadoBarreraContencion.cumple"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_estado">Estado</label>
            <input type="text" class= "form-control" name="estado" id="field_estado"
                    ng-model="vm.estadoBarreraContencion.estado"
                    ng-maxlength="10" />
            <div ng-show="editForm.estado.$invalid">
                <p class="help-block"
                    ng-show="editForm.estado.$error.maxlength">
                    This field cannot be longer than 10 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_estadoBarreraDeInspeccion">Estado Barrera De Inspeccion</label>
            <select class="form-control" id="field_estadoBarreraDeInspeccion" name="estadoBarreraDeInspeccion" ng-model="vm.estadoBarreraContencion.estadoBarreraDeInspeccion" ng-options="inspeccionBarreraContencion as inspeccionBarreraContencion.id for inspeccionBarreraContencion in vm.inspeccionbarreracontencions track by inspeccionBarreraContencion.id">
                <option value=""></option>
            </select>
        </div>-->