
        <!--
        <div class="form-group" ng-show="vm.medidaEstadoSenalizacionH.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.medidaEstadoSenalizacionH.id" readonly />
        </div>
        -->


        <h4>Información de la medida:</h4>
        <div class="entity-section-form-group">
            <div class="row">
                <div class="form-group col-xs-12"
                    ng-class="{'has-error':editForm.medida.$invalid}">
                    <label class="control-label" for="field_medida">Medida</label>
                    <input type="number" class="form-control" name="medida" id="field_medida"
                    ng-model="vm.medidaEstadoSenalizacionH.medida"
                    required  step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                    min="0" max="1000" />

                    <div ng-show="editForm.medida.$invalid">
                        <p class="help-block"
                            ng-show="editForm.medida.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.medida.$error.min" translate-value-min="0">
                            Este campo no debe ser menor a 0
                        </p>
                        <p class="help-block"
                            ng-show="editForm.medida.$error.max">
                            Este campo no debe ser mayor a 1000.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.medida.$error.number">
                            Este campo es numérico
                        </p>
                    </div>
                </div>


                <div class="form-group col-xs-6 hide" ng-class="{'has-error':editForm.tipoMedida.$invalid}">
                    
                    <label class="control-label" for="field_tipoMedida">Tipo de medida</label>
                    <select class="form-control" id="field_tipoMedida" name="tipoMedida" ng-model="vm.medidaEstadoSenalizacionH.tipoMedida" ng-options="o as o for o in []" >
                        <option value=""></option>
                    </select>    
                

                    <div ng-show="editForm.tipoMedida.$invalid">
                        <p class="help-block"
                            ng-show="editForm.tipoMedida.$error.required">
                            El campo es obligatorio.
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
        <!--
        <div class="form-group">
            <label for="field_medidaDeEstado">Medida De Estado</label>
            <select class="form-control" id="field_medidaDeEstado" name="medidaDeEstado" ng-model="vm.medidaEstadoSenalizacionH.medidaDeEstado" ng-options="estadoSenalizacionH as estadoSenalizacionH.id for estadoSenalizacionH in vm.medidaEstadoSenalizacionHs track by estadoSenalizacionH.id">
                <option value=""></option>
            </select>
        </div>-->
