        <!-- <div class="form-group" ng-show="vm.vehiculoDeApoyoIncidente.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.vehiculoDeApoyoIncidente.id" readonly />
        </div> -->
        <h4>Vehículo de apoyo en incidente:</h4>
        <div class="entity-section-form-group">
            <div class="row">
                <div class="form-group col-xs-6" ng-class="{'has-error':editForm.tipoVehiculoDeApoyo.$invalid}">
                    <label class="control-label" for="field_tipoVehiculoDeApoyo">Tipo de vehículo</label>
                    <select required class="form-control" id="field_tipoVehiculoDeApoyo" name="tipoVehiculoDeApoyo" ng-model="vm.vehiculoDeApoyoIncidente.tipoVehiculoDeApoyo" ng-options="tipoVehiculoApoyo as tipoVehiculoApoyo.tipoVehiculo for tipoVehiculoApoyo in vm.tipovehiculoapoyos track by tipoVehiculoApoyo.id">
                        <option value=""></option>
                    </select>
                    <div ng-show="editForm.tipoVehiculoDeApoyo.$invalid">
                        <p class="help-block"
                            ng-show="editForm.tipoVehiculoDeApoyo.$error.required">
                            Este campo es obligatorio.
                        </p>
                    </div>
                </div>
                <div class="form-group col-xs-6" ng-class="{'has-error':editForm.fechaSolicitudServicio.$invalid}">
                    <label class="control-label" for="field_fechaSolicitudServicio">Hora de solicitud</label>
                    <div class="input-group">
                        <input required id="field_fechaSolicitudServicio" type="text" class="form-control" name="fechaSolicitudServicio" datetime-picker="{{dateformat}}" ng-model="vm.vehiculoDeApoyoIncidente.fechaSolicitudServicio" is-open="vm.datePickerOpenStatus.fechaSolicitudServicio"
                          />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaSolicitudServicio')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <div ng-show="editForm.fechaSolicitudServicio.$invalid">
                        <p class="help-block"
                            ng-show="editForm.fechaSolicitudServicio.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fechaSolicitudServicio.$error.datetime">
                            La fecha es inválida
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6" ng-class="{'has-error':editForm.fechaInicioServicio.$invalid}">
                    <label class="control-label" for="field_fechaInicioServicio">Fecha de inicio de servicio</label>
                    <div class="input-group">
                        <input required id="field_fechaInicioServicio" type="text" class="form-control" name="fechaInicioServicio" datetime-picker="{{dateformat}}" ng-model="vm.vehiculoDeApoyoIncidente.fechaInicioServicio" is-open="vm.datePickerOpenStatus.fechaInicioServicio"
                          />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaInicioServicio')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <div ng-show="editForm.fechaInicioServicio.$invalid">
                        <p class="help-block"
                            ng-show="editForm.fechaInicioServicio.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fechaInicioServicio.$error.datetime">
                            La fecha es inválida
                        </p>
                    </div>
                </div>
                <div class="form-group col-xs-6" ng-class="{'has-error':editForm.fechaFinServicio.$invalid}">
                    <label class="control-label" for="field_fechaFinServicio">Fecha de fin de servicio</label>
                    <div class="input-group">
                        <input id="field_fechaFinServicio" type="text" class="form-control" name="fechaFinServicio" datetime-picker="{{dateformat}}" ng-model="vm.vehiculoDeApoyoIncidente.fechaFinServicio" is-open="vm.datePickerOpenStatus.fechaFinServicio"
                          />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaFinServicio')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <div ng-show="editForm.fechaFinServicio.$invalid">
                        <p class="help-block"
                            ng-show="editForm.fechaFinServicio.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fechaFinServicio.$error.datetime">
                            La fecha es inválida
                        </p>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label class="control-label" for="field_comentario">Comentario</label>
                    <textarea class="form-control" rows="2" name="comentario" 
                        id="field_comentario" ng-model="vm.vehiculoDeApoyoIncidente.comentario" ng-maxlength="50" ></textarea>
                    <div ng-show="editForm.comentario.$invalid">
                        <p class="help-block"
                            ng-show="editForm.comentario.$error.maxlength">
                            Este campo no puede tener más de 50 caracteres.
                        </p>
                    </div>
                </div>
            </div>
        </div>