<div>
    <h2><span class="fa fa-bar-chart"></span>&#xA0;Indicador O1 - Índice de mortalidad</h2>
    <uib-alert type="warning" close="vm.closeAlert()" dismiss-on-timeout="5000" ng-show="vm.diffDays > 60">
        <div class="text-center">Seleccione un rango de fechas <strong>menor a 60 días</strong> para descargar el reporte.</div>
    </uib-alert>
    <uib-alert type="warning" close="vm.closeAlert()" dismiss-on-timeout="5000" ng-show="vm.filterByIncumplido">
        <div class="text-center">Solo puede descargar el reporte para la totalidad de kilómetros.</div>
    </uib-alert>
    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-6 pull-left">
            <div ng-disabled="vm.diffDays > 60 || vm.filterByIncumplido || vm.kilometros.length == 0">
                <button class="btn btn-default" lazy-load="true" ng-csv="vm.kilometrosAsCsv()" filename="{{vm.csvFilename}}" field-separator=";" decimal-separator="," csv-header="['Id', 'Fecha inicial', 'Longitud concesión', 'Número víctimas fatales', 'Tráfico del mes', 'Índice mortalidad', 'Cumple', 'Estado']">
                    <span class="fa fa-table fa-lg"></span> CSV
                </button>
                <button class="btn btn-default" title="Descargar reporte como PDF" ng-click="vm.kilometrosAsPdf()">
                    <span class="fa fa-file-pdf-o fa-lg"></span> PDF
                </button>
            </div>
          <!--   <div ng-if="vm.diffDays > 60 || vm.filterByIncumplido || vm.kilometros.length == 0">
                <button class="btn btn-default" disabled>
                    <span class="fa fa-table fa-lg"></span> CSV
                </button>
                <button class="btn btn-default" disabled>
                    <span class="fa fa-file-pdf-o fa-lg"></span> PDF
                </button>
            </div> -->
        </div>
    </div>

    <!-- Tabla principal -->
    <div class="spaced-row" ng-show="vm.IsFill()">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th ng-click="predicate = 'id'; reverse=!reverse">
                            <span>Id</span>
                            <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='id', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='id'}"></i>
                        </th>
                        <th ng-click="predicate = 'fechaInicial'; reverse=!reverse">
                            <span>Fecha inicial</span>
                            <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='fechaInicial', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='fechaInicial'}"></i>
                        </th>
                        <th ng-click="predicate = 'fechaFinal'; reverse=!reverse">
                            <span>Fecha final</span>
                            <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='fechaFinal', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='fechaFinal'}"></i>
                        </th>
                        <th ng-click="predicate = ''; reverse=!reverse">
                            <span>Longitud concesión (en Kms)</span>
                            <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='', 'glyphicon glyphicon-chevron-down' : reverse && predicate===''}"></i>
                        </th>
                        <th ng-click="predicate = ''; reverse=!reverse">
                            <span>Número de víctimas fatales</span>
                            <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='', 'glyphicon glyphicon-chevron-down' : reverse && predicate===''}"></i>
                        </th>
                        <th ng-click="predicate = ''; reverse=!reverse">
                            <span>Tráfico del mes</span>
                            <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='', 'glyphicon glyphicon-chevron-down' : reverse && predicate===''}"></i>
                        </th>
                        <th ng-click="predicate = ''; reverse=!reverse">
                            <span>Índice mortalidad</span>
                            <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='', 'glyphicon glyphicon-chevron-down' : reverse && predicate===''}"></i>
                        </th>
                        <th ng-click="predicate = 'cumple'; reverse=!reverse">
                            <span>¿Cumple?</span>
                            <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='cumple', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='cumple'}"></i>
                        </th>
                    </tr>
                </thead>
                <tr ng-repeat="kilometro in vm.kilometros | orderBy:predicate:reverse">
                    <td>{{ kilometro.id }}</td>
                    <td>{{ kilometro.fechaInicial | date: 'yyyy-MM-dd' }}</td>
                    <td>{{ kilometro.fechaFinal | date: 'yyyy-MM-dd' }}</td>
                    <td>{{ vm.longitudConcesion }}</td>
                    <td>{{ kilometro.numeroVictimasFatales }}</td>
                    <td>{{ vm.toThousandSeparatorFormat(kilometro.cantidadTrafico) }}</td>
                    <td>{{ kilometro.indiceMortalidad }}&#xA0;
                        <button class="btn btn-default btn-xs" ng-click="vm.verDetalleKilometro(kilometro.id)" title="Ver detalle del kilómetro {{ kilometro.kilometro }} de la unidad funcional {{ kilometro.unidadFuncional }}">
                            <span class="fa fa-search-plus" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td class="text-center">
                        <indicador-cumple cumple="kilometro.cumple" class="small"></indicador-cumple>
                        <!-- <span class="label label-success" ng-show="kilometro.cumple==true" style="cursor: pointer;">SÍ</span>
                        <span class="label label-danger" ng-show="kilometro.cumple==false" style="cursor: pointer;">NO</span> -->
                    </td>
                </tr>
            </table>
        </div>
        <div class="text-center">
            <uib-pagination total-items="vm.totalItems" ng-change="vm.loadPage(vm.page)" ng-model='vm.page' class="pagination-sm" items-per-page='vm.itemsPerPage' boundary-links="true" max-size="5" />
            <div class="row">
                <div class="col-xs-12">
                    <p class="report__paginationText">Página {{vm.page}} de {{vm.numberOfPages}}</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{vm.itemsPerPage}} ítems por página <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="node-link" ng-click="vm.changeItemsPerPage(20)">20 ítems por página</a></li>
                            <li><a class="node-link" ng-click="vm.changeItemsPerPage(50)">50 ítems por página</a></li>
                            <li><a class="node-link" ng-click="vm.changeItemsPerPage(100)">100 ítems por página</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabla detalle -->
        <div ng-show="vm.selectedIdIndiceMortalidad != null">
            <h3>Detalle índice de mortalidad ({{ vm.detalleKilometro[0].detalleDeIndiceMortalidad.fechaInicial | date: 'yyyy-MM-dd' }} a {{ vm.detalleKilometro[0].detalleDeIndiceMortalidad.fechaFinal | date: 'yyyy-MM-dd' }}) </h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th ng-click="predicate = 'unidadFuncional'; reverse=!reverse">
                                <span>Unidad funcional</span>
                                <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='unidadFuncional', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='unidadFuncional'}"></i>
                            </th>
                            <th ng-click="predicate = 'kilometroInicial'; reverse=!reverse">
                                <span>Abcisa inicial</span>
                                <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='kilometroInicial', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='kilometroInicial'}"></i>
                            </th>
                            <th ng-click="predicate = 'kilometroFinal'; reverse=!reverse">
                                <span>Abcisa final</span>
                                <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='kilometroFinal', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='kilometroFinal'}"></i>
                            </th>
                            <th ng-click="predicate = 'tramoCritico'; reverse=!reverse">
                                <span>Tramo crítico</span>
                                <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='tramoCritico', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='tramoCritico'}"></i>
                            </th>
                            <th ng-click="predicate = 'numeroVictimasFatales'; reverse=!reverse">
                                <span>Número de víctimas fatales</span>
                                <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='numeroVictimasFatales', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='numeroVictimasFatales'}"></i>
                            </th>
                        </tr>
                    </thead>
                    <tr ng-repeat="detalle in vm.detalleKilometro | orderBy:predicate:reverse">
                        <td>{{ detalle.unidadFuncional }}</td>
                        <td>{{ detalle.kilometroInicial }} + {{ detalle.abscisaInicial }}</td>
                        <td>{{ detalle.kilometroFinal }} + {{ detalle.abscisaFinal }}</td>
                        <td>{{ detalle.tramoCritico }}</td>
                        <td>{{ detalle.numeroVictimasFatales }}</td>
                    </tr>
                </table>
            </div>
            <div class="text-center">
                <uib-pagination total-items="vm.totalItemsDetalle" ng-change="vm.loadPage(vm.page)" ng-model='vm.page' class="pagination-sm" items-per-page='vm.itemsPerPage' boundary-links="true" max-size="5" />
                <p>Página {{vm.pageDetalle}} de {{vm.numberOfPagesDetalle}}</p>
            </div>
        </div>
    </div>
    <div ng-show="!vm.IsFill()">
        <div class="middle-box text-center animated fadeInDown">
            <h2>No hay resultados para el criterio seleccionado</h2>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="criteriosAceptacionE8" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Indicador E10 - Criterios de aceptación</h4>
                </div>
                <div class="modal-body">
                    <h3>Sección hidráulica</h3>
                    <p>Sección hidráulica de cada obra de drenaje obstruida menor o igual al <strong>{{vm.criteriosAceptacion.seccionObstruida}}% </strong>del total de la sección</p>
                    <br/>
                    <h3>Índice de cumplimiento</h3>
                    <p>El incumplimiento de uno o más valores puntuales en un mismo segmento (Km) generará incumplimiento del segmento.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="vm.clear()" class="btn btn-default bfd-cancel" aria-hidden="true" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
