<div>
    <h2>Users</h2>
    <jhi-alert></jhi-alert>
    <div class="row">
      <div class="col-md-4">
          <button class="btn btn-primary" ui-sref="user-management.new">
              <span class="glyphicon glyphicon-user"></span> <span>Create user</span>
          </button>
      </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>E-mail</th>
                <th>Profile</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.users track by user.id">
                <td>{{user.id}}</td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td>
                    <div ng-repeat="authority in user.authorities">
                        <span class="label label-info">{{ authority }}</span>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="user-management.edit({login:user.login})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.loadAll()"></uib-pagination>
    </div>
</div>
