
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEstructuraContencionLabel">Create or edit a Estructura Contencion</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.estructuraContencion.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.estructuraContencion.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_estructura">Estructura</label>
            <input type="text" class="form-control" name="estructura" id="field_estructura"
                    ng-model="vm.estructuraContencion.estructura"
                    required ng-maxlength="30" />
            <div ng-show="editForm.estructura.$invalid">
                <p class="help-block"
                    ng-show="editForm.estructura.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.estructura.$error.maxlength">
                    This field cannot be longer than 30 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_margen">Margen</label>
            <input type="text" class="form-control" name="margen" id="field_margen"
                    ng-model="vm.estructuraContencion.margen"
                    required ng-maxlength="30" />
            <div ng-show="editForm.margen.$invalid">
                <p class="help-block"
                    ng-show="editForm.margen.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.margen.$error.maxlength">
                    This field cannot be longer than 30 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_material">Material</label>
            <input type="text" class="form-control" name="material" id="field_material"
                    ng-model="vm.estructuraContencion.material"
                    required ng-maxlength="30" />
            <div ng-show="editForm.material.$invalid">
                <p class="help-block"
                    ng-show="editForm.material.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.material.$error.maxlength">
                    This field cannot be longer than 30 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_kilometroInicial">Kilometro Inicial</label>
            <input type="number" class="form-control" name="kilometroInicial" id="field_kilometroInicial"
                    ng-model="vm.estructuraContencion.kilometroInicial"
                    min="0" max="200" />
            <div ng-show="editForm.kilometroInicial.$invalid">
                <p class="help-block"
                    ng-show="editForm.kilometroInicial.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.kilometroInicial.$error.max">
                    This field cannot be more than 200.
                </p>
                <p class="help-block"
                    ng-show="editForm.kilometroInicial.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_abscisaInicial">Abscisa Inicial</label>
            <input type="number" class="form-control" name="abscisaInicial" id="field_abscisaInicial"
                    ng-model="vm.estructuraContencion.abscisaInicial"
                    min="0" max="999" />
            <div ng-show="editForm.abscisaInicial.$invalid">
                <p class="help-block"
                    ng-show="editForm.abscisa.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.abscisa.$error.max">
                    This field cannot be more than 999.
                </p>
                <p class="help-block"
                    ng-show="editForm.abscisa.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>   
        <div class="form-group">
            <label class="control-label" for="field_kilometroFinal">Kilometro Final</label>
            <input type="number" class="form-control" name="kilometroFinal" id="field_kilometroFinal"
                    ng-model="vm.estructuraContencion.kilometroFinal"
                    min="0" max="200" />
            <div ng-show="editForm.kilometroFinal.$invalid">
                <p class="help-block"
                    ng-show="editForm.kilometroFinal.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.kilometroFinal.$error.max">
                    This field cannot be more than 200.
                </p>
                <p class="help-block"
                    ng-show="editForm.kilometroFinal.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_abscisaFinal">Abscisa Final</label>
            <input type="number" class="form-control" name="abscisaFinal" id="field_abscisaFinal"
                    ng-model="vm.estructuraContencion.abscisaFinal"
                    min="0" max="999" />
            <div ng-show="editForm.abscisaFinal.$invalid">
                <p class="help-block"
                    ng-show="editForm.abscisa.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.abscisa.$error.max">
                    This field cannot be more than 999.
                </p>
                <p class="help-block"
                    ng-show="editForm.abscisa.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_tramoDeEstructura">Tramo De Estructura</label>
            <select class="form-control" id="field_tramoDeEstructura" name="tramoDeEstructura" ng-model="vm.estructuraContencion.tramoDeEstructura" ng-options="tramo as tramo.nombreTramo for tramo in vm.tramos track by tramo.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
