<div>
    <h2>Estructura Contencions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="estructura-contencion.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Estructura Contencion
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estructura"><span>Estructura</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="margen"><span>Margen</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="material"><span>Material</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="kilometro"><span>Kilometro Inicial</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="abscisa"><span>Abscisa Inicial</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="largo"><span>Kilometro Final</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ancho"><span>Abscisa Final</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tramoDeEstructura.nombreTramo"><span>Tramo De Estructura</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="estructuraContencion in vm.estructuraContencions track by estructuraContencion.id">
                    <td><a ui-sref="estructura-contencion-detail({id:estructuraContencion.id})">{{estructuraContencion.id}}</a></td>
                    <td>{{estructuraContencion.estructura}}</td>
                    <td>{{estructuraContencion.margen}}</td>
                    <td>{{estructuraContencion.material}}</td>
                    <td>{{estructuraContencion.kilometroInicial}}</td>
                    <td>{{estructuraContencion.abscisaInicial}}</td>
                    <td>{{estructuraContencion.kilometroFinal}}</td>
                    <td>{{estructuraContencion.abscisaFinal}}</td>
                    <td>
                        <a ui-sref="tramo-detail({id:estructuraContencion.tramoDeEstructura.id})">{{estructuraContencion.tramoDeEstructura.nombreTramo}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="estructura-contencion-detail({id:estructuraContencion.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="estructura-contencion.edit({id:estructuraContencion.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="estructura-contencion.delete({id:estructuraContencion.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
