{% extends "reference_architect/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Datasources</h2>
        </div>
        <div class="panel-body" id="ar-panel">
            <br>

            <div class="row">
                <div class="col-md-5">
                    <ul class="nav nav-pills col-xs-11">
                        <li>
                            <a href="#excelList" class="excel-tab" data-toggle="tab" aria-expanded="true">From Excel
                                files</a>
                        </li>
                        <li class="active">
                            <a href="#sqlList" class="sql-tab" data-toggle="tab" aria-expanded="true">From SQL</a>
                        </li>
                        <small class="pull-right">
                            <button type="button" class="btn btn-info btn-circle" id="add-ms"
                                    data-toggle="modal" data-target="#createsqlmodal">
                                <i class="fa fa-plus"></i>
                            </button>
                        </small>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="tab-content">

                    <div class="tab-pane fade" id="excelList">
                        <div class="col col-md-10 col-md-offset-1">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Origen</th>
                                    <th>Descripción</th>
                                    <th>Fuente</th>
                                    <th>Detalles</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade active in" id="sqlList">
                        <div class="col col-md-10 col-md-offset-1">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Connection type</th>
                                    <th>DB Name</th>
                                    <th>Host</th>
                                    <th>Username</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="createsqlmodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create new SQL Datasource</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <form class="form-horizontal" method="post" >
                                {% csrf_token %}
                                {{ form | crispy }}
                                <p>{{ msg }}</p>
                                <button type="submit" name="test" class="btn btn-warning" >
                                    <span class="glyphicon glyphicon-console"></span>&nbsp;
                                    <span>Test connection</span>
                                </button>
                                <button type="submit" name="create" class="btn btn-success">
                                    <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                    <span>Create</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}