<div>
    <h2><span class="fa fa-bar-chart"></span>&#xA0;Indicador O3 - Cola de peajes</h2>
    <!-- <uib-alert type="warning" close="vm.closeAlert()" dismiss-on-timeout="5000" ng-show="vm.diffDays > 60">
        <div class="text-center">Seleccione un rango de fechas <strong>menor a 60 días</strong> para descargar el reporte.</div>
    </uib-alert> -->
    <!--  <uib-alert type="warning" dismiss-on-timeout="5000" ng-show="vm.filterByIncumplido">
        <div class="text-center">Solo puede descargar el reporte para la totalidad de kilómetros.</div>
    </uib-alert> -->
    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-6 pull-left">
            <div>
                <button ng-disabled="vm.filterByIncumplido || vm.colaPeajes.length == 0" class="btn btn-default" lazy-load="true" ng-csv="vm.peajesAsCsv()" filename="{{vm.csvFilename}}" field-separator=";" decimal-separator="," csv-header="['Id', 'Fecha', 'Peaje', 'Num. Carriles', 'Incumplimientos', 'Cumple']">
                    <span class="fa fa-table fa-lg"></span> CSV
                </button>
                <button ng-disabled="vm.filterByIncumplido || vm.colaPeajes.length == 0" class="btn btn-default" title="Descargar reporte como PDF" ng-click="vm.peajesAsPdf()">
                    <span class="fa fa-file-pdf-o fa-lg"></span> PDF
                </button>
            </div>
            <!--   <div ng-if="vm.diffDays > 60 || vm.filterByIncumplido || vm.kilometros.length == 0">
                <button class="btn btn-default" disabled>
                    <span class="fa fa-table fa-lg"></span> CSV
                </button>
                <button class="btn btn-default" disabled>
                    <span class="fa fa-file-pdf-o fa-lg"></span> PDF
                </button>
            </div> -->
        </div>
        <div class="col-xs-6 text-right">
            <div class="">
                <button class="btn btn-warning" data-toggle="modal" data-target="#criteriosAceptacionO3">
                    &#xA0;Ver criterios de aceptación
                </button>
            </div>
        </div>
    </div>
    <div class="row report__header">
        <!-- <div class="col-xs-12 col-sm-12 col-md-4">
             <fieldset class="scheduler-border entity-section-form-group">
                <legend class="scheduler-border">{{vm.porcentajeCumplimiento}}% de cumplimiento</legend> -->
        <!-- <div class="row">
                    <div class="col-xs-4 col-sm-offset-2 col-sm-3  col-md-offset-0 col-md-4 text-center vcenter">
                        <div ng-show="vm.pieValidationKilometros()" ng-if="vm.pieValidationCumplimiento()" class="pie" style="animation-delay: -{{100-vm.porcentajeCumplimiento}}s" title="{{vm.porcentajeCumplimiento}}% de cumplimiento">
                        </div>
                        <div ng-show="vm.pieValidationKilometros()" ng-if="!vm.pieValidationCumplimiento()" class="allwrongpie" style="animation-delay: -{{100-vm.porcentajeCumplimiento}}s" title="{{vm.porcentajeCumplimiento}}% de cumplimiento">
                        </div>
                    </div>
                    <div class="col-xs-offset-1 col-xs-10 report">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 report__summary-section">
                                <a class="node-link" ng-click="vm.verTodos()"><strong>Total Kms:</strong></a> &#xA0;{{ vm.totalKilometros }}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 report__summary-section">
                                <a class="node-link" ng-click="vm.performFilterByIncumplido(true)"><strong>Total km que cumplen:</strong></a> &#xA0;{{ vm.totalKilometrosCumplen }}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 report__summary-section">
                                <a class="node-link" ng-click="vm.performFilterByIncumplido(false)"><strong>Total km que incumplen:</strong></a> &#xA0;{{ vm.totalKilometrosIncumplen }}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 report__summary-section">
                                <strong>Porcentaje de cumplimiento:</strong>&#xA0;{{ vm.porcentajeCumplimiento }}%
                            </div>
                        </div>
                                           <br><a class="node-link" ng-click="vm.verTodos()"><strong>Total Kms:</strong>
                        &#xA0;{{ vm.totalKilometros }}</a>
                        <br><a class="node-link" ng-click="vm.performFilterByIncumplido(true)"><strong>Total Kms que cumplen:</strong>
                        &#xA0;{{ vm.totalKilometrosCumplen }}</a>
                        <br><a class="node-link" ng-click="vm.performFilterByIncumplido(false)"><strong>Total Kms que incumplen:</strong>
                        &#xA0;{{ vm.totalKilometrosIncumplen }}</a>
                        <br><strong>Porcentaje de cumplimiento:</strong>&#xA0;{{ vm.porcentajeCumplimiento }}%
                    </div> 
                </div> 
                <div class="col-xs-12 text-center report__btn-action">
                    <button class="btn btn-warning btn-block" data-toggle="modal" data-target="#criteriosAceptacionO3">
                        &#xA0;Ver criterios de aceptación
                    </button>
                </div>
            </fieldset>
        </div> -->
        <!-- <div class="col-xs-12 text-center report__summary-section">
            <button ng-disabled="vm.filterByIncumplido || vm.colaPeajes.length == 0" class="btn btn-default" lazy-load="true" ng-csv="vm.peajesAsCsv()" filename="{{vm.csvFilename}}" field-separator=";" decimal-separator="," csv-header="['Id', 'Fecha', 'Peaje', 'Num. Carriles', 'Incumplimientos', 'Cumple']">
                <span class="fa fa-table fa-lg"></span> CSV
            </button>
            <button ng-disabled="vm.filterByIncumplido || vm.colaPeajes.length == 0" class="btn btn-default" title="Descargar reporte como PDF" ng-click="vm.peajesAsPdf()">
                <span class="fa fa-file-pdf-o fa-lg"></span> PDF
            </button>
        </div> -->
    </div>
    <!-- Tabla principal -->
    <div>
        <div ng-show="vm.peajesIsFill()">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th ng-click="predicate = 'id'; reverse=!reverse">
                                <span>id</span>
                                <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='id', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='id'}"></i>
                            </th>
                            <th ng-click="predicate = 'fecha'; reverse=!reverse">
                                <span>Fecha</span>
                                <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='fecha', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='fecha'}"></i>
                            </th>
                            <th ng-click="predicate = 'peaje'; reverse=!reverse">
                                <span>Peaje</span>
                                <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='peaje', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='peaje'}"></i>
                            </th>
                            <th ng-click="predicate = 'numeroCarriles'; reverse=!reverse">
                                <span>Num. Carriles</span>
                                <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='numeroCarriles', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='numeroCarriles'}"></i>
                            </th>
                            <th ng-click="predicate = 'incumplimientos'; reverse=!reverse">
                                <span>Incumplimientos</span>
                                <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='incumplimientos', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='incumplimientos'}"></i>
                            </th>
                            <th ng-click="predicate = 'cumple'; reverse=!reverse">
                                <span>¿Cumple?</span>
                                <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='cumple', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='cumple'}"></i>
                            </th>
                        </tr>
                    </thead>
                    <tr ng-repeat="colaPeaje in vm.colaPeajes | orderBy:predicate:reverse">
                        <td>{{ colaPeaje.id }}</td>
                        <td>{{ colaPeaje.fecha | date: 'yyyy-MM-dd' }}</td>
                        <td>{{ colaPeaje.peaje.nombrePeaje }}</td>
                        <td>{{ colaPeaje.carrilesActivos }}</td>
                        <td>{{ colaPeaje.incumplimientos }}&#xA0;
                            <button class="btn btn-default btn-xs" ng-click="vm.verDetallePeaje(colaPeaje.id)" title="Ver detalle">
                                <span class="fa fa-search-plus" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td class="text-center">
                            <indicador-cumple cumple="colaPeaje.cumple" class="small"></indicador-cumple>
                            <!--     <span class="label label-success" ng-show="kilometro.cumple==true" style="cursor: pointer;">SÍ</span>
                            <span class="label label-danger" ng-show="kilometro.cumple==false" style="cursor: pointer;">NO</span> -->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="text-center">
            <uib-pagination total-items="vm.totalItems" ng-change="vm.loadPage(vm.page)" ng-model='vm.page' class="pagination-sm" items-per-page='vm.itemsPerPage' boundary-links="true" max-size="5" />
            <div class="row">
                <div class="col-xs-12">
                    <p class="report__paginationText">Página {{vm.page}} de {{vm.numberOfPages}}</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{vm.itemsPerPage}} ítems por página <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="node-link" ng-click="vm.changeItemsPerPage(20)">20 ítems por página</a></li>
                            <li><a class="node-link" ng-click="vm.changeItemsPerPage(50)">50 ítems por página</a></li>
                            <li><a class="node-link" ng-click="vm.changeItemsPerPage(100)">100 ítems por página</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tabla detalle -->
        <div ng-show="vm.selectedIdPeaje != null" class="report__detail-table">
            <h3>Cola de peaje: {{ vm.selectedPeaje }}</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th ng-click="predicate = 'idEstado'; reverse=!reverse">
                                <span># Carril</span>
                                <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='idEstado', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='idEstado'}"></i>
                            </th>
                            <th ng-click="predicate = 'abcisa'; reverse=!reverse">
                                <span>Hora inicial</span>
                                <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='abcisa', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='abcisa'}"></i>
                            </th>
                            <th ng-click="predicate = 'unidadFuncional'; reverse=!reverse">
                                <span>Cantidad vehículos</span>
                                <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='unidadFuncional', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='unidadFuncional'}"></i>
                            </th>
                            <th ng-click="predicate = 'costado'; reverse=!reverse">
                                <span>Hora final</span>
                                <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='costado', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='costado'}"></i>
                            </th>
                            <th ng-click="predicate = 'largoInspeccion'; reverse=!reverse">
                                <span>Cantidad vehículos</span>
                                <i ng-class="{'glyphicon glyphicon-chevron-up' : !reverse && predicate==='largoInspeccion', 'glyphicon glyphicon-chevron-down' : reverse && predicate==='largoInspeccion'}"></i>
                            </th>
                        </tr>
                    </thead>
                    <tr ng-repeat="detalle in vm.detallePeaje | orderBy:predicate:reverse">
                        <td>{{ detalle.numeroCarril }}</td>
                        <td>{{ detalle.fechaInicial | date: 'yyyy-MM-dd' }}</td>
                        <td>{{ detalle.cantidadVehiculosInicial }}</td>
                        <td>{{ detalle.fechaFinal | date: 'yyyy-MM-dd' }}</td>
                        <td>{{ detalle.cantidadVehiculosFinal }}</td>
                    </tr>
                </table>
            </div>
            <div class="text-center">
                <uib-pagination total-items="vm.totalItemsDetalle" ng-change="vm.loadPageDetalle(vm.page)" ng-model='vm.page' class="pagination-sm" items-per-page='vm.itemsPerPageDetalle' boundary-links="true" max-size="5" />
                <p>Página {{vm.pageDetalle}} de {{vm.numberOfPagesDetalle}}</p>
            </div>
        </div>
    </div>
    <div ng-show="!vm.peajesIsFill()">
        <div class="middle-box text-center animated fadeInDown">
            <h2>No hay resultados para el criterio seleccionado</h2>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="criteriosAceptacionO3" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Indicador O3 - Criterios de aceptación</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-10 text-center report__modal-content-div">
                            <h3 class="text-info report__modal-content-title">Cantidad de vehículos</h3>
                            <p class="report__modal-content-description">No podrá acumularse un número igual o mayor a <strong> {{vm.criteriosAceptacion.cantidadMaximaVehiculos}} </strong> vehículos por carril en la mitad de las estaciones de pago manual o semiautomático que se encuentran en servicio, por un periodo igual o mayor a sesenta (<strong> {{vm.criteriosAceptacion.tiempoMaximoCola}} </strong>) minutos.</p>
                        </div>
                        <div class="col-xs-offset-1 col-xs-10 text-center report__modal-content-div">
                            <h3 class="text-info report__modal-content-title">Índice de cumplimiento</h3>
                            <p class="report__modal-content-description">Uno o más incumplimientos afectaran la unidad funcional.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="vm.clear()" class="btn btn-default bfd-cancel" aria-hidden="true" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
