        <!--<div class="form-group" ng-show="vm.ocupacionCarrilesDetalle.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ocupacionCarrilesDetalle.id" readonly />
        </div>-->

        <h4>Información:</h4>
        <div class="entity-section-form-group">
            <div class="row">
                <div class="form-group col-xs-6"
                    ng-class="{'has-error':editForm.longitudColaInicial.$invalid}">
                    <label class="control-label" for="field_longitudColaInicial">Longitud de cola inicial</label>
                    <input required type="number" class="form-control" name="longitudColaInicial" id="field_longitudColaInicial"
                            ng-model="vm.ocupacionCarrilesDetalle.longitudColaInicial"
                            min="0" max="1000" />
                    <div ng-show="editForm.longitudColaInicial.$invalid">
                        <p class="help-block"
                            ng-show="editForm.longitudColaInicial.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.longitudColaInicial.$error.min" translate-value-min="0">
                            Este campo no debe ser menor a 0
                        </p>
                        <p class="help-block"
                            ng-show="editForm.longitudColaInicial.$error.max">
                            Este campo no debe ser mayor a 1000.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.longitudColaInicial.$error.number">
                            Este campo es numérico
                        </p>
                    </div>
                </div>
                <div class="form-group col-xs-6" 
                    ng-class="{'has-error':editForm.fechaInicial.$invalid}">
                    <label class="control-label" for="field_fechaInicial">Fecha inicial</label>
                    <div class="input-group">
                        <input required id="field_fechaInicial" type="text" class="form-control" 
                            name="fechaInicial" 
                            datetime-picker="{{dateformat}}" 
                            ng-model="vm.ocupacionCarrilesDetalle.fechaInicial" 
                            is-open="vm.datePickerOpenStatus.fechaInicial"
                        />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaInicial')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                    <div ng-show="editForm.fechaInicial.$invalid">
                        <p class="help-block"
                            ng-show="editForm.fechaInicial.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fechaInicial.$error.datetime">
                            La fecha es inválida
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6"
                    ng-class="{'has-error':editForm.longitudColaFinal.$invalid}">
                    <label class="control-label" for="field_longitudColaFinal">Longitud de cola final</label>
                    <input required type="number" class="form-control" name="longitudColaFinal" id="field_longitudColaFinal"
                            ng-model="vm.ocupacionCarrilesDetalle.longitudColaFinal"
                            min="0" max="1000" />
                    <div ng-show="editForm.longitudColaFinal.$invalid">
                        <p class="help-block"
                            ng-show="editForm.longitudColaFinal.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.longitudColaFinal.$error.min" translate-value-min="0">
                            Este campo no debe ser menor a 0
                        </p>
                        <p class="help-block"
                            ng-show="editForm.longitudColaFinal.$error.max">
                            Este campo no debe ser mayor a 1000.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.longitudColaFinal.$error.number">
                            Este campo es numérico
                        </p>
                    </div>
                </div>
                <div class="form-group col-xs-6" 
                    ng-class="{'has-error':editForm.fechaFinal.$invalid}">
                    <label class="control-label" for="field_fechaFinal">Fecha final</label>
                    <div class="input-group">
                        <input required id="field_fechaFinal" type="text" class="form-control" 
                            name="fechaFinal" 
                            datetime-picker="{{dateformat}}" 
                            ng-model="vm.ocupacionCarrilesDetalle.fechaFinal" 
                            is-open="vm.datePickerOpenStatus.fechaFinal"
                        />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaFinal')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                    <div ng-show="editForm.fechaFinal.$invalid">
                        <p class="help-block"
                            ng-show="editForm.fechaFinal.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fechaFinal.$error.datetime">
                            La fecha es inválida
                        </p>
                        <p class="help-block"
                            ng-show="editForm.fechaFinal.$error.fechaFinalNoEsMayor">
                            Debe ser mayor a la inicial
                        </p>
                    </div>
                </div>
            </div>
        </div>    
        <!--
        <div class="form-group">
            <label for="field_detalleDeOcupacionCarriles">Detalle De Ocupacion Carriles</label>
            <select class="form-control" id="field_detalleDeOcupacionCarriles" name="detalleDeOcupacionCarriles" ng-model="vm.ocupacionCarrilesDetalle.detalleDeOcupacionCarriles" ng-options="ocupacionCarriles as ocupacionCarriles.id for ocupacionCarriles in vm.ocupacioncarriles track by ocupacionCarriles.id">
                <option value=""></option>
            </select>
        </div>
        -->