
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

        <h4 class="modal-title" id="myArchivoAccidenteLabel">Create or edit a Archivo Accidente</h4>
 
   
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.archivoAccidente.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.archivoAccidente.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="vm.archivoAccidente.nombre"
                    required />
            <div ng-show="editForm.nombre.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombre.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_extension">Extension</label>
            <input type="text" class="form-control" name="extension" id="field_extension"
                    ng-model="vm.archivoAccidente.extension"
                    ng-maxlength="4" />
            <div ng-show="editForm.extension.$invalid">
                <p class="help-block"
                    ng-show="editForm.extension.$error.maxlength">
                    This field cannot be longer than 4 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fechaDeRegistro">Fecha De Registro</label>
                <div class="input-group">
                    <input id="field_fechaDeRegistro" type="text" class="form-control" name="fechaDeRegistro" datetime-picker="{{dateformat}}" ng-model="vm.archivoAccidente.fechaDeRegistro" is-open="vm.datePickerOpenStatus.fechaDeRegistro"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaDeRegistro')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.fechaDeRegistro.$invalid">
                <p class="help-block"
                    ng-show="editForm.fechaDeRegistro.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.fechaDeRegistro.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ubicacion">Ubicacion</label>
            <input type="text" class="form-control" name="ubicacion" id="field_ubicacion"
                    ng-model="vm.archivoAccidente.ubicacion"
                    required />
            <div ng-show="editForm.ubicacion.$invalid">
                <p class="help-block"
                    ng-show="editForm.ubicacion.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bucket">Bucket</label>
            <input type="text" class="form-control" name="bucket" id="field_bucket"
                    ng-model="vm.archivoAccidente.bucket"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_keyS3">Key S 3</label>
            <input type="text" class="form-control" name="keyS3" id="field_keyS3"
                    ng-model="vm.archivoAccidente.keyS3"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_idVersion">Id Version</label>
            <input type="text" class="form-control" name="idVersion" id="field_idVersion"
                    ng-model="vm.archivoAccidente.idVersion"
                     />
        </div>
    </div>
    <div class="entity-actions">
        <button type="button" class="btn btn-info" data-dismiss="modal" ui-sref="archivo-accidente">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>Volver</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
