<template name="arZona">
	<div class="container" id="container">
    <ol class="breadcrumb" style="text-align:right; background:#F8F8F8">
      <li><a href="/">Zonas arquitectura de referencia</a></li>
      <li class="active">{{name}}</li>
    </ol>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Arquitectura de Referencia</h3>
      </div>
      
      <div class="panel-body" id="ar-panel">
        {{#each zones}}
          {{> zone}}
        {{/each}} 
      </div><!-- /.panel-body -->       
    </div><!-- /.panel-primary -->
  </div><!-- /.container -->
</template>	

<template name="zone">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default" style="background:#{{zoneBackground}}">
        <div class="panel-heading" style="background:#{{zoneBackground}}">
          <h1 class="panel-title">{{zoneName}}</h1>
        </div>
        <div class="panel-body">
          
          <div class="row">
            <div class="col-md-12">
              {{#each services}}
                {{> service}}
              {{/each}}
            </div>
          </div>
                   
          {{#each subzones}}
            {{> subzone}}
          {{/each}}
        </div>
      </div>
    </div>
  </div><!-- /.row --> 
</template>

<template name="subzone">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default" style="background:#{{subzoneBackground}}">
        <div class="panel-heading" style="background:#{{subzoneBackground}}">
          <a href="arZona" class="aSubzone">
            <h1 class="panel-title">{{subzoneName}}</h1>
          </a>
        </div>
        <div class="panel-body">
          <div class="row">
            {{#each services}}
              {{> service}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template> 

<template name="service">
  <div class="col-md-3"> 
    <div class="panel panel-default" style="text-align:center">
      <div class="header">
        {{id}}
      </div>
      {{serviceName}}
    </div>
  </div>
</template> 