<template name="index">
	<div class="container">
    <ol class="breadcrumb" style="text-align:right; background:#F8F8F8">
      <li><a href="sources">Fuentezzzzzzzzzzzzzz de Datos</a></li>
      <li class="active">Zonas arquitectura de referencia</li>
      <li><a href="vistaDespliegue">Vista de despliegue</a></li>
      <li><a href="vistaAsignacion">Vista de asignación</a></li>
    </ol>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Arquitectura de Referencia</h3>
      </div>

      <div class="panel-body" id="ar-panel">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default" style="background:#B7E2FC">
              <div class="panel-heading" style="background:#B7E2FC">
                <a href="arZona" class="znPresentacion">
                  <h1 class="panel-title">Zona Servicios de Presentación</h1>
                </a>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <a href="arZona" class="thumbnail subznPortal">
                      Portal
                    </a>
                  </div>
                  <div class="col-md-6">
                    <a href="arZona" class="thumbnail subznMovilidad">
                      Movilidad
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-md-12">
            <div class="panel panel-default" style="background:#FFCB8C">
              <div class="panel-heading" style="background:#FFCB8C">
                <a href="arZona" class="znApolo">
                  <h1 class="panel-title">Servicios Apolo</h1>
                </a>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <a href="arZona" class="thumbnail subznVolumetricos">
                      Servicios Volumétricos
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="arZona" class="thumbnail subznFacilidades">
                      Servicios Facilidades
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="arZona" class="thumbnail subznOperacionales">
                      Operacionales
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="arZona" class="thumbnail subznDiseño">
                      Servicios de Diseño
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="arZona" class="thumbnail subznOptimizacion">
                      Servicios Optmización
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="arZona" class="thumbnail subznMantenimiento">
                      Servicios de Mantenimiento
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-md-12">
            <div class="panel panel-default" style="background:#FFCB8C">
              <div class="panel-heading" style="background:#FFCB8C">
                <a href="arZona" class="znGeociencias">
                  <h1 class="panel-title">Servicios Geociencias</h1>
                </a>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <a href="arZona" class="thumbnail subznPerforacion">
                      Servicios de Perforación
                    </a>
                  </div>
                  <div class="col-md-6">
                    <a href="arZona" class="thumbnail subznGenerales">
                      Servicios Generales
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-md-3">
            <div class="panel panel-default" style="background:#FFCB8C">
              <div class="panel-heading" style="background:#FFCB8C">
                <a href="arZona" class="znLaboratorio">
                  <h1 class="panel-title">Servicios Laboratorio</h1>
                </a>
              </div>
              <div class="panel-body"></div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="panel panel-default" style="background:#FFCB8C">
              <div class="panel-heading" style="background:#FFCB8C">
                <a href="arZona" class="znGAIA">
                  <h1 class="panel-title">Servicios GAIA</h1>
                </a>
              </div>
              <div class="panel-body"></div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="panel panel-default" style="background:#FFCB8C">
              <div class="panel-heading" style="background:#FFCB8C">
                <a href="arZona" class="znLogistica">
                  <h1 class="panel-title">Servicios Logística</h1>
                </a>
              </div>
              <div class="panel-body"></div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="panel panel-default" style="background:#FFCB8C">
              <div class="panel-heading" style="background:#FFCB8C">
                <a href="arZona" class="znCalidad">
                  <h1 class="panel-title">Servicios Aseguramiento Calidad</h1>
                </a>
              </div>
              <div class="panel-body"></div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default" style="background:#FFCB8C">
              <div class="panel-heading" style="background:#FFCB8C">
                <a href="arZona" class="znIngenieria">
                  <h1 class="panel-title">Servicios Ingeniería</h1>
                </a>
              </div>
              <div class="panel-body"></div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default" style="background:#FFCB8C">
              <div class="panel-heading" style="background:#FFCB8C">
                <a href="arZona" class="znTiempo">
                  <h1 class="panel-title">Tiempo Real</h1>
                </a>
              </div>
              <div class="panel-body"></div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default" style="background:#FFCB8C">
              <div class="panel-heading" style="background:#FFCB8C">
                <a href="arZona" class="znTransporte">
                  <h1 class="panel-title">Servicios Transporte y Comercialización</h1>
                </a>
              </div>
              <div class="panel-body"></div>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-md-3">
            <div class="panel panel-default" style="background:#FF9999">
              <div class="panel-heading" style="background:#FF9999">
                <a href="arZona" class="znAutProcesos">
                  <h1 class="panel-title">Zona Automatización de Procesos</h1>
                </a>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <a href="arZona" class="thumbnail subznDocumental">
                      Gestión Documental
                    </a>
                  </div>
                  <div class="col-md-12">
                    <a href="arZona" class="thumbnail subznProyectos">
                      Servicios Proyectos
                    </a>
                  </div>
                  <div class="col-md-12">
                    <a href="arZona" class="thumbnail subznBPM">
                      BPM
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-9">
            <div class="panel panel-default" style="background:#FFF1A6">
              <div class="panel-heading" style="background:#FFF1A6">
                <a href="arZona" class="znSoporte">
                  <h1 class="panel-title">Servicios de Soporte</h1>
                </a>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3">
                    <a href="arZona" class="thumbnail subznFinancieros">
                      Servicios Financieros
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a href="arZona" class="thumbnail subznReportes">
                      Zona de Reportes
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a href="arZona" class="thumbnail subznRRHH">
                      Servicios RRHH
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a href="arZona" class="thumbnail subznJuridicos">
                      Servicios Jurídicos
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a href="arZona" class="thumbnail subznRiesgo">
                      Servicios Riesgo
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a href="arZona" class="thumbnail subznMensajeria">
                      Servicios Mensajería
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a href="arZona" class="thumbnail subznClienteSocios">
                      Servicios Cliente Socios
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a href="arZona" class="thumbnail subznArchivoFisico">
                      Servicios Archivo Físico
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a href="arZona" class="thumbnail subznAmbientales">
                      Servicios Ambientales
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a href="arZona" class="thumbnail subznHSEQ">
                      Servicios HSEQ
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a href="arZona" class="thumbnail subznSeguridad">
                      Servicios Seguridad
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-md-12">
            <div class="panel panel-default" style="background:#D8FBD6">
              <div class="panel-heading" style="background:#D8FBD6">
                <a href="arZona" class="znDatos">
                  <h1 class="panel-title">Zona Servicios de Datos</h1>
                </a>
              </div>
              <div class="panel-body"></div>
            </div>
          </div>

        </div>

      </div><!-- /.panel-body -->
    </div><!-- /.panel-primary -->
  </div><!-- /.container -->
</template>
