<template name="index">
	<div class="container">
		<a name="about"></a>
	    <div class="intro-header">
	        <div class="stars"></div>
	        <div class="twinkling"></div>
	        <div class="clouds"></div>
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12">
	                    <div class="intro-message">
	                        <h1><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;ArchinotesX</h1>
	                        <div class="type-wrap">
	                            <h3>An ArcOps framework for every software
	                            <div id="typed-string">
	                                <p>architect.</p>
	                                <p>team.</p>
	                                <p>project.</p>
	                            </div>
	                            <span id="typed" style="white-space:pre;"></span>
	                        </h3>
	                        </div>
	                        <hr class="intro-divider">
	                        <ul class="list-inline intro-social-buttons">
	                            <li>
	                                <a href="https://github.com/imTachu/ArchinotesX" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

	    <a name="services"></a>
	    <div class="content-section-a">

	        <div class="container">
	            <div class="row">
	                <div class="col-lg-5 col-sm-6">
	                    <hr class="section-heading-spacer">
	                    <div class="clearfix"></div>
	                    <h2 class="section-heading">By adopting an ArcOps strategy,</h2>
	                    <p class="lead">You create a continuous workflow between architects, developers and system administrators aligning all the artifacts in your software.</p>
	                </div>
	                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
	                    <img class="img-responsive" src="img/landing-1.jpg" alt="">
	                </div>
	            </div>
	        </div>
	    </div>

	    <div class="content-section-b">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
	                    <hr class="section-heading-spacer">
	                    <div class="clearfix"></div>
	                    <h2 class="section-heading">Keep your architecture and your app on the same track</h2>
	                    <p class="lead">In a demanding business, software evolves, and its architecture should too!, ArchinotesX allows you to <em>deploy</em> your architecture. Test it, stress it, use it.</p>
	                </div>
	                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
	                    <img class="img-responsive" src="img/landing-2.jpg" alt="">
	                </div>
	            </div>
	        </div>
	    </div>

	    <div class="content-section-a">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-5 col-sm-6">
	                    <hr class="section-heading-spacer">
	                    <div class="clearfix"></div>
	                    <h2 class="section-heading">Somethings just happen over and over again...</h2>
	                    <p class="lead">ArchinotesX is oriented to the explicit scenario where there are multiple data sources and the business need is to constantly create and update microservices that will bring specific information from those sources.</p>
	                </div>
	                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
	                    <img class="img-responsive" src="img/landing-3.jpg" alt="">
	                </div>
	            </div>
	        </div>
	    </div>

	    <!--<a name="contact"></a>
	    <div class="banner">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12">
	                    <h3>ArchinotesX is developed for a MSc thesis at
						<a href="https://sistemas.uniandes.edu.co/es/miso">Universidad de Los Andes</a> <br/>by
						<a href="https://co.linkedin.com/in/dcorreal">Dario Correal</a> and
						<a href="https://www.linkedin.com/in/lorenasalamanca">Lorena Salamanca</a>
						</h3>
	                </div>
	            </div>
	        </div>
	    </div> -->

	     <footer>
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12">
	                    <!-- <ul class="list-inline">
	                        <li>
	                            <a href="#">Home</a>
	                        </li>
	                        <li class="footer-menu-divider">&sdot;</li>
	                        <li>
	                            <a href="#about">About</a>
	                        </li>
	                        <li class="footer-menu-divider">&sdot;</li>
	                        <li>
	                            <a href="#services">Services</a>
	                        </li>
	                        <li class="footer-menu-divider">&sdot;</li>
	                        <li>
	                            <a href="#contact">Contact</a>
	                        </li>
	                    </ul> -->
	                    <p class="copyright text-muted small">ArchinotesX is developed for a MSc thesis at
						<a href="https://sistemas.uniandes.edu.co/es/miso">Universidad de Los Andes</a> by
						<a href="https://co.linkedin.com/in/dcorreal">Dario Correal</a> and
						<a href="https://www.linkedin.com/in/lorenasalamanca">Lorena Salamanca</a> </p>
	                </div>
	            </div>
	        </div>
	    </footer>

	    <script src="js/jquery.js"></script>
	    <script src="js/typed.min.js"></script>
	    <script src="js/bootstrap.min.js"></script>
	    <script>
	        $(function() {
	            $("#typed").typed({
	                stringsElement: $('#typed-string'),
	                typeSpeed: 70,
	                backDelay: 800,
	                loop: true,
	                contentType: 'html',
	                loopCount: false,
	                callback: function() {
	                    foo();
	                },
	                resetCallback: function() {
	                    newTyped();
	                }
	            });
	            $(".reset").click(function() {
	                $("#typed").typed('reset');
	            });
	        });

	        function newTyped() {}

	        function foo() {
	            console.log("Callback");
	        }
	    </script>

  </div><!-- /.container -->
</template>
