<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ArchinotesX: An ArcOps framework">
    <meta name="author" content="Lorena Salamanca, adapted from StartBootstrap">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">

    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <link rel="icon" href="/img/favicon.ico">

    <title>ArchinotesX: An ArcOps framework</title>
</head>

<template name="navbar-layout">
    <nav class="navbar navbar-inverse navbar-fixed-top topnav" role="navigation">
        <div class="container topnav navbar-right">
            <div class="col-xs-6 navbar-title">
                <h4><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;ArchinotesX&nbsp;|&nbsp;An ArcOps framework</h4>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <div class="col-xs-3" style="padding-top: 15px;">
                    <li ui-sref-active="active" ng-switch-when="false" class="text-right">
                        <a class="github-button" href="https://github.com/imTachu/ArchinotesX" data-count-href="/imTachu/ArchinotesX/stargazers" data-count-api="/repos/imTachu/ArchinotesX#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star imTachu/ArchinotesX on GitHub">Star</a>
                    </li>
                </div>
                <div class="col-xs-3 login-button">
                    <li ui-sref-active="active" ng-switch-when="false">
                        <a href="arZonas" ng-click="vm.login()" id="login" class="btn btn-success">
                            <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                            <span>Log in</span>
                        </a>
                    </li>
                </div>
            </div>
        </div>
    </nav>

    <div class="container main-menu" style="padding-top:40px;">
        {{> yield}}
    </div>
</template>
