<template name="vistaDespliegue">
	<div class="container" id="container">
    <ol class="breadcrumb" style="text-align:right; background:#F8F8F8">
      <li><a href="sources">Fuentes de Datos</a></li>
      <li><a href="/">Zonas arquitectura de referencia</a></li>
      <li class="active">Vista de despliegue</li>
      <li><a href="vistaAsignacion">Vista de asignación</a></li>
    </ol>

   	<div class="panel panel-primary">
     	<div class="panel-heading">
        <h3 class="panel-title">Vista de Despliegue</h3>
      </div>

    	<div class="panel-body" id="deploy-panel">
        <br>
        
        <div class="row">
          <div class="col-md-5"> 
            <ul class="nav nav-pills col-xs-11" >
              <li>
                <a href="#services" class="services-tab" data-toggle="tab" aria-expanded="true">Servicios</a>
              </li>
              <li class="active">
                <a href="#microservices" class="microservices-tab" data-toggle="tab" aria-expanded="true">Microservicios</a>
              </li>
              <small class="pull-right">
                <button type="button" class="btn btn-info btn-circle" id="add-ms" 
                data-toggle="modal" data-target="#newMicroservicePopUp">
                  <i class="fa fa-plus"></i>
                </button>  
              </small>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="tab-content">
            
            <div class="tab-pane fade" id="services">
              <div class="col-md-6"> 
           			<br><br>
           			{{#each services}}
		              {{> realService}}
		            {{/each}} 
              </div>

              <div class="col-md-6">
                <br><br>
                {{#each servicesMachines}}
                  {{> machine}}
                {{/each}} 
              </div> 
            </div>

         		<div class="tab-pane fade active in" id="microservices">
              <div class="col-md-6"> 
      					<br><br>
      					{{#each microservices}}
                	{{> microservice}}
              	{{/each}} 
              </div>

               <div class="col-md-6">
                <br><br>
                {{#each microservicesMachines}}
                  {{> machine}}
                {{/each}} 
              </div> 
         		</div>	
          
          </div><!-- /.tab-content -->
        </div><!-- /.row -->
      </div><!-- /.panel-body -->
  	</div><!-- /.panel-primary -->
  </div> <!-- /.container -->

  <div class="modal fade" id="newMicroservicePopUp" tabindex="-1" role="dialog" 
  aria-labelledby="microserviceModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="microserviceModalLabel">Nuevo Microservicio</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">  
              <label class="control-label">Tipo de Fuente</label>
              <select class="form-control select-sources" id="sources">
                <option>Archivo Excel</option>
                <option>Base de Datos SQL</option> 
              </select>
            </div>
              
            <label class="control-label">Fuentes de Datos</label>   
          </form>
          
          <div class="panel-group" id="accordion">
            {{#each sources}}
              {{> source}}
            {{/each}}
          </div>  

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" id="newMicroserviceButton" class="btn btn-primary new-microservice" disabled>Crear</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</template>

<template name="realService">
	<div class="row">
		<div class="col-md-3"></div>
    <div class="panel panel-default col-md-6 service-panel" style="text-align:center" id="{{serviceId}}-{{_id}}" 
    onmouseover="this.style.background='#ffcc99'; this.style.cursor='pointer'" 
    onmouseout="this.style.background='#ffd9b3'">
      <div class="header">
        <strong>{{serviceId}}</strong>
        <small class="pull-right">
          <a id="I-{{_id}}" hidden>
            <i class="fa fa-exclamation-triangle" style="color:#E60000"></i>
          </a>
          <a id="AI-{{_id}}" hidden>
            <i class="fa fa-check-circle" style="color:#006600"></i>
          </a>
        </small>
      </div>
      {{serviceName}}
      <div class="row">
      	<div id="ST-{{_id}}" class="col-md-12" style="font-size:smaller">
      		{{status}}
      	</div>	
    	</div>
    </div>
  </div> 
</template>

<template name="microservice">
	<div class="row">
		<div class="col-md-3"></div>
    <div class="panel panel-default col-md-6 microservice-panel" style="text-align:center" id="{{type}}-{{_id}}" 
    onmouseover="this.style.background='#E8E8E8'; this.style.cursor='pointer'" 
    onmouseout="this.style.background='#F0F0F0'">
      <div class="header">
        <strong>{{microserviceId}}</strong>
        <small class="pull-right">
          <a id="I-{{_id}}" hidden><i class="fa fa-exclamation-triangle" style="color:#E60000"></i></a>
          <a id="AI-{{_id}}" hidden><i class="fa fa-check-circle" style="color:#006600"></i></a>
        </small>
        <small class="pull-left">
          {{#if excel}}
            <i class="fa fa-file-text"></i>
          {{else}}
            <i class="fa fa-database"></i>
          {{/if}}
        </small>  
      </div>
      {{name}}
      <div class="row">
      	<div id="ST-{{_id}}" class="col-md-12" style="font-size:smaller">
      		{{status}}
      	</div>	
    	</div>
    </div>
  </div> 
</template>

<template name="machine">
  <div class="row">
    <div class="col-md-1"></div>

    <div class="row" > 
      <div class="panel panel-default col-md-8 machine-panel" style="text-align:center" id="{{machineId}}">
        <div class="header">
          <strong>{{name}}</strong>
        </div>
        {{ip}}
        <br>
        {{so}}
      </div>
    </div>  
  
  </div>  
</template>

<template name="source">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" 
        href="#{{source}}-{{type}}">{{nameui}}
        </a>
        <small class="pull-right">
          <input type="checkbox" id="CH-{{source}}-{{type}}" class="toggle-checked" />
        </small>
      </h4>
    </div>
    <div id="{{source}}-{{type}}" class="panel-collapse collapse">
      <div class="panel-body">
        {{#each fields}}
          {{> field}}
        {{/each}}
      </div>
    </div>   
  </div>  
</template>

<template name="field">
  <div class="col-md-6">
    <div>
      <i class="fa fa-check-square-o"></i>
      <label>
        {{  name}}
      </label> 
    </div>   
  </div>  
</template>  