<nav class="navbar navbar-inverse" ng-class="{'no-margin-bottom': !vm.isAuthenticated()}" role="navigation">
    <div class="">
        <div class="col-xs-6 navbar-title">
            <h4><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;ArchinotesX&nbsp;|&nbsp;An ArcOps framework</h4>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <!--<div class="col-xs-3" style="padding-top: 15px;">-->
            <!--<li class="text-right">-->
            <!--<a class="github-button" href="https://github.com/imTachu/ArchinotesX"-->
            <!--data-count-href="/imTachu/ArchinotesX/stargazers"-->
            <!--data-count-api="/repos/imTachu/ArchinotesX#stargazers_count"-->
            <!--data-count-aria-label="# stargazers on GitHub" aria-label="Star imTachu/ArchinotesX on GitHub">Star</a>-->
            <!--</li>-->
            <!--</div>-->
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active"
                    has-any-authority="ROLE_ADMIN, ROLE_REFERENCE_ARCHITECT, ROLE_SOLUTIONS_ARCHITECT"
                    ng-switch-when="true">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm">Home</span>
                    </a>
                </li>
                <li has-active-state-child-link has-any-authority="ROLE_REFERENCE_ARCHITECT" ng-switch-when="true"
                    uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="reportarEvento-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                        <span class="hidden-sm">
                                Datasources
                            </span>
                        <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="underconstruction" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
                                <span>Excel datasources</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="sqldatasource" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-fire"></span>&nbsp;
                                <span>SQL Datasources</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li has-active-state-child-link has-any-authority="ROLE_ADMIN" ng-switch-when="true" uib-dropdown
                    class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="gestionSocial-menu">
                        <span>
                            <span class="glyphicon glyphicon-briefcase"></span>
                        <span class="hidden-sm">
                                xxx
                            </span>
                        <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" has-any-authority="ROLE_ADMIN">
                            <a ui-sref="underconstruction" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-envelope"></span>&nbsp;
                                <span>Correspondencia</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="underconstruction" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-compressed"></span>&nbsp;
                                <span>Empleo</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li has-active-state-child-link has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                        <span class="hidden-sm">Administration</span>
                        <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span>Users</span>
                            </a>
                        </li>
                        <li ng-hide="vm.inProduction" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span>API Documentation</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{
                            active:vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                        <span class="hidden-sm">
                                Account
                            </span>
                        <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span>Setup</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span>Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span>Log out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span>Log in</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
