        <!--
        <div class="form-group" ng-show="vm.estadoMargenesSeparador.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.estadoMargenesSeparador.id" readonly />
        </div>
        -->


        <h4>Información del estado: <span class="label label-success">{{vm.getStateStatusLabel()}}</span></h4>
        <div class="entity-section-form-group">
            <div class="row">
                <div class="form-group col-xs-12" ng-class="{'has-error':editForm.kilometro.$invalid || editForm.abscisa.$invalid, 'col-sm-5':vm.estadoMargenesSeparador.id, 'col-sm-6':!vm.estadoMargenesSeparador.id}">
                    <label class="control-label sr-only" for="field_kilometro">Kilometro + Abscisa</label>
                    <label class="control-label " for="field_kilometro">Kilómetro + Abscisa</label>

                    <div class="input-group">  
                        <div class="input-group-addon">Km</div>  
                        <input required type="number" class="form-control" name="kilometro" id="field_kilometro"
                                ng-model="vm.estadoMargenesSeparador.kilometro"
                                min="0" max="200" />
                        <div class="input-group-addon">+</div>
                        <input required type="number" class="form-control" name="abscisa" id="field_abscisa"
                                ng-model="vm.estadoMargenesSeparador.abscisa"
                                min="0" max="999" />
                    </div>
                    

                    <div ng-show="editForm.kilometro.$invalid || editForm.abscisa.$invalid">
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.min" translate-value-min="0">
                            El campo km no puede ser menor a 0
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.max">
                            El campo km no pude ser mayor a 200
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.number">
                            El campo km es numérico
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisa.$error.min" translate-value-min="0">
                            El campo abscisa no puede ser menor a 0.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisa.$error.max">
                            El campo abscisa no puede ser mayor a 999.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisa.$error.number">
                            El campo abscisa es numérico.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.required && !editForm.abscisa.$error.required">
                            El campo km es obligatorio.
                        </p>
                        
                        <p class="help-block"
                            ng-show="!editForm.kilometro.$error.required && editForm.abscisa.$error.required">
                            El campo abscisa es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.required && editForm.abscisa.$error.required">
                            Los campos Km y abscisa son obligatorios.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.kilometroAbscisaInvalid">
                            Valores por fuera del tramo comprendido de  {{vm.getTramo().origen}}
                            - {{vm.getTramo().destino}}.
                        </p>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':editForm.margen.$invalid, 'col-sm-5 col-xs-6':vm.estadoMargenesSeparador.id, 'col-sm-6 col-xs-12':!vm.estadoMargenesSeparador.id, }">
                    <label class="control-label" for="field_margen">Margen</label>
                    <br>
                    <div class="row">
                        <div class="col-sm-6 form-control-static" ng-class="{'col-xs-6':!vm.estadoMargenesSeparador.id}">
                            <label>
                                <input required type="radio" name="margen" id="field_margen"
                                    ng-model="vm.estadoMargenesSeparador.margen" value="Izquierdo"/>
                                Izquierdo
                            </label>        
                        </div>
                        <div class="col-sm-6 form-control-static" ng-class="{'col-xs-6':!vm.estadoMargenesSeparador.id}" >
                            <label>
                                <input required type="radio" name="margen" id="field_margen"
                                    ng-model="vm.estadoMargenesSeparador.margen" value="Derecho"/>
                                Derecho
                            </label>        
                        </div>
                    </div>
                    <div ng-show="editForm.margen.$invalid">
                        <p class="help-block"
                            ng-show="editForm.margen.$error.required">
                            El campo es obligatorio.
                        </p>
                    </div>
                </div>
                <div class="form-group col-xs-6" ng-class="{'col-sm-2':vm.estadoMargenesSeparador.id, 'hide':!vm.estadoMargenesSeparador.id}">
                    <label class="control-label" for="field_cumple">¿Ha cumplido?</label>
                    <indicador-cumple cumple="vm.estadoMargenesSeparador.cumple"></indicador-cumple>   
                </div>
            </div>
            <div class="row" ng-if="!vm.isEstadoInVerification()">
                <div class="form-group col-xs-6"
                    ng-class="{'has-error':editForm.alturaVegetacionInspeccion.$invalid}">
                    <label class="control-label" for="field_alturaVegetacionInspeccion">Altura vegetación(m)</label>
                    <input type="number" class="form-control" name="alturaVegetacionInspeccion" id="field_alturaVegetacionInspeccion"
                            ng-model="vm.estadoMargenesSeparador.alturaVegetacionInspeccion"
                            required
                            min="0" max="100" />
                    <div ng-show="editForm.alturaVegetacionInspeccion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.alturaVegetacionInspeccion.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.alturaVegetacionInspeccion.$error.min" translate-value-min="0">
                            Este campo no debe ser menor a 0
                        </p>
                        <p class="help-block"
                            ng-show="editForm.alturaVegetacionInspeccion.$error.max">
                            Este campo no debe ser mayor a 100.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.alturaVegetacionInspeccion.$error.number">
                            Este campo es numérico
                        </p>
                    </div>
                </div>

                <div class="form-group col-xs-6"
                    ng-class="{'has-error':editForm.articulosBasuraInspeccion.$invalid}">
                    <label class="control-label" for="field_articulosBasuraInspeccion">Artículos basura(unidades)</label>
                    <input type="number" class="form-control" name="articulosBasuraInspeccion" id="field_articulosBasuraInspeccion"
                    ng-model="vm.estadoMargenesSeparador.articulosBasuraInspeccion"
                    required 
                    min="0" max="10000" />

                    <div ng-show="editForm.articulosBasuraInspeccion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.articulosBasuraInspeccion.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.articulosBasuraInspeccion.$error.min" translate-value-min="0">
                            Este campo no debe ser menor a 0
                        </p>
                        <p class="help-block"
                            ng-show="editForm.articulosBasuraInspeccion.$error.max">
                            Este campo no debe ser mayor a 10000.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.articulosBasuraInspeccion.$error.number">
                            Este campo es numérico
                        </p>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label class="control-label" for="field_observacionesInspeccion">Observaciones inspección:</label>
                    <textarea class="form-control" rows="3" name="observacionesInspeccion" 
                        id="field_observacionesInspeccion" ng-model="vm.estadoMargenesSeparador.observacionesInspeccion" ng-maxlength="400" ></textarea>
                    <div ng-show="editForm.observacionesInspeccion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.observacionesInspeccion.$error.maxlength">
                            Este campo no puede tener más de 400 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.isEstadoInVerification()">
                <div class="form-group col-sm-6"
                    ng-class="{'has-error':editForm.alturaVegetacionVerificacion.$invalid}">
                    <label class="control-label" for="field_alturaVegetacionVerificacion">Altura vegetación verificación(m)</label>
                    <input type="number" class="form-control" name="alturaVegetacionVerificacion" id="field_alturaVegetacionVerificacion"
                            ng-model="vm.estadoMargenesSeparador.alturaVegetacionVerificacion"
                            required
                            min="0" max="100" />
                    <div ng-show="editForm.alturaVegetacionVerificacion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.alturaVegetacionVerificacion.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.alturaVegetacionVerificacion.$error.min" translate-value-min="0">
                            Este campo no debe ser menor a 0
                        </p>
                        <p class="help-block"
                            ng-show="editForm.alturaVegetacionVerificacion.$error.max">
                            Este campo no debe ser mayor a 100.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.alturaVegetacionVerificacion.$error.number">
                            Este campo es numérico
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-6"
                    ng-class="{'has-error':editForm.articulosBasuraVerificacion.$invalid}">
                    <label class="control-label" for="field_articulosBasuraVerificacion">Artículos basura verificación(unidades)</label>
                    <input type="number" class="form-control" name="articulosBasuraVerificacion" id="field_articulosBasuraVerificacion"
                    ng-model="vm.estadoMargenesSeparador.articulosBasuraVerificacion"
                    required 
                    min="0" max="10000" />

                    <div ng-show="editForm.articulosBasuraVerificacion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.articulosBasuraVerificacion.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.articulosBasuraVerificacion.$error.min" translate-value-min="0">
                            Este campo no debe ser menor a 0
                        </p>
                        <p class="help-block"
                            ng-show="editForm.articulosBasuraVerificacion.$error.max">
                            Este campo no debe ser mayor a 10000.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.articulosBasuraVerificacion.$error.number">
                            Este campo es numérico
                        </p>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label class="control-label" for="field_observacionesVerificacion">Observaciones verificación:</label>
                    <textarea class="form-control" rows="3" name="observacionesVerificacion" 
                        id="field_observacionesVerificacion" ng-model="vm.estadoMargenesSeparador.observacionesVerificacion" ng-maxlength="400" ></textarea>
                    <div ng-show="editForm.observacionesVerificacion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.observacionesVerificacion.$error.maxlength">
                            Este campo no puede tener más de 400 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.isEstadoInVerification()">
                <div class="col-xs-12">
                    <div class="alert alert-success alert-entity-message">
                        Se requiere la <strong>fecha de verificación</strong> en el panel principal <a ui-sref="inspeccion-margenes-separador.edit"><strong>(Información de la inspección)</strong></a>, de lo contrario, se calculará el cumplimiento basado en la fecha y hora del sistema
                        }
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.estadoMargenesSeparador.id">
                <div class="col-sm-6 col-md-offset-6">
                    <button type="button" class="btn btn-primary btn-block" ui-sref="archivo-margenes-separador({id_estado_margenes: vm.estadoMargenesSeparador.id})">
                        <span>
                            Evidencia
                            &nbsp
                        </span>
                        <span class="glyphicon glyphicon-file"></span>
                    </button>
                </div>
            </div>
        </div>
        <!--<div class="form-group">
            <label class="control-label" for="field_cumple">Cumple</label>
            <input type="checkbox" class="form-control" name="cumple" id="field_cumple"
                    ng-model="vm.estadoMargenesSeparador.cumple"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_estado">Estado</label>
            <input type="text" class="form-control" name="estado" id="field_estado"
                    ng-model="vm.estadoMargenesSeparador.estado"
                    ng-maxlength="10" />
            <div ng-show="editForm.estado.$invalid">
                <p class="help-block"
                    ng-show="editForm.estado.$error.maxlength">
                    This field cannot be longer than 10 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_estadoDeInspeccion">Estado De Inspeccion</label>
            <select class="form-control" id="field_estadoDeInspeccion" name="estadoDeInspeccion" ng-model="vm.estadoMargenesSeparador.estadoDeInspeccion" ng-options="inspeccionMargenesSeparador as inspeccionMargenesSeparador.id for inspeccionMargenesSeparador in vm.inspeccionmargenesseparadors track by inspeccionMargenesSeparador.id">
                <option value=""></option>
            </select>
        </div>-->