<template name="sourceDetail">
	<ol class="breadcrumb" style="text-align:right; background:#F8F8F8">
		<li><a href="/sources">Fuentes de Datos</a></li>
	</ol>

	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h1 class="panel-title">{{nameui}}</h1>
			</div>
			<div class="panel-body" id="ar-panel">
				<div class="row">
					<div class="panel-heading">
						<div class="col col-sm-10 col-md-10 col-md-offset-1">
							<div class="well well-lg" style="display: inline-block">
								<div class="col-xs-12">
									<h3 class="text-info"><strong>Descripción </strong></h3>
								</div>
								<div class="col-xs-12">
									{{#if description}}
										<p> {{description}} </p>
									{{else}}
										<p>No se posee descripcion de esta fuente... </p>
									{{/if}}
								</div>
								<div class="col-xs-12">
									<div class="col-xs-2">
										<h4 style="display: inline;"><strong>Origen </strong></h4>
									</div>
									<div class="col-xs-3">
										<p style="display: inline;">{{origin}}</p>
									</div>

									<div class="col-xs-2">
										<h4 style="display: inline;"><strong>Tipo </strong></h4>
									</div>
									<div class="col-xs-2">
										<p style="display: inline;"><span class="label label-default">{{type}}</span></p>
									</div>

									<div class="col-xs-2">
										<h4 style="display: inline;"><strong>Fuente </strong></h4>
									</div>
									<div class="col-xs-1">
										<p style="display: inline;">{{source}}</p>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="col-xs-12">
										<h4 class="text-primary"><strong>Campo/Indice Principal: </strong></h4> 
										<table class="table">
										  <thead>
											<tr class="sortby">
											  <th>Nombre</th>
											  <th>Descripción</th>
											  <th>Tipo</th>
											</tr>
										  </thead>
										  <tbody>
										  <tr>
											<td>{{sortby.name}}</td>
											<td>{{sortby.description}}</td>
											<td>{{sortby.type}}</td>
										  </tr>
										</tbody>
										</table>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="col-xs-12">
										<h4 class="text-primary"><strong>Campos/Atributos: </strong></h4>
										<table class="table">
										  <thead>
											<tr>
											  <th>Nombre</th>
											  <th>Descripción</th>
											  <th>Tipo</th>			    
											</tr>
										  </thead>
										  <tbody>
											{{# each fields}}
											  <tr>
												<td>{{name}}</td>
												<td>{{description}}</td>
												<td>{{type}}</td>
											  </tr>
											{{/each}}
										</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>					  	
					</div>
				</div>
				<div class="panel-heading" align="right">
					<a class='btn btn-primary' href="/sources" title="back">Atras</a>
				</div>
			</div> 
		</div>
	</div> 
</template>

<template name="microserviceDetail">
	<div class="col-sm-6 col-md-6">
		<div class="well well-lg" style="display: inline-block">
			<div class="col-xs-'12'">
				<h4><strong>Microservicio: </strong></h4>
			</div>
			<div class="col-xs-12">
				{{# each microserviceDetail}}
					<p class="field"> <strong>Nombre: </strong> {{name}}</p>
					<p class="field"> <strong> Descripcion: </strong> {{description}}</p>
					<p class="field"> <strong> Imagen Docker: </strong> {{image}}</p>
					<p class="field"> <strong> UUID: </strong> {{uuid}}</p>
				{{/each}}
			</div>
		</div>
	</div> 
</template>