<template name="sources">
	<ol class="breadcrumb" style="text-align:right; background:#F8F8F8">
		<li class="active">Fuentes de Datos</li>
		<li><a href="/">Zonas arquitectura de referencia</a></li>
		<li><a href="vistaDespliegue">Vista de despliegue</a></li>
		<li><a href="vistaAsignacion">Vista de asignación</a></li>
	</ol>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="panel-title">Fuentes de Datos</h2>
			</div>
		<div class="panel-body" id="ar-panel">
			<br>
        
	        <div class="row">
	          <div class="col-md-5"> 
	            <ul class="nav nav-pills col-xs-11" >
	              <li>
	                <a href="#excelList" class="excel-tab" data-toggle="tab" aria-expanded="true">Desde Excel</a>
	              </li>
	              <li class="active">
	                <a href="#sqlList" class="sql-tab" data-toggle="tab" aria-expanded="true">Desde SQL</a>
	              </li>
	              <small class="pull-right">
	                <button type="button" class="btn btn-info btn-circle" id="add-ms" 
	                data-toggle="modal" data-target="#newSourceModal">
	                  <i class="fa fa-plus"></i>
	                </button>  
	              </small>
	            </ul>
	          </div>
	        </div>
	        <div class="row">
	          <div class="tab-content">
	            
	            <div class="tab-pane fade" id="excelList">
	            	<div class="col col-md-10 col-md-offset-1"> 
	            		<table class="table table-hover">
						  <thead>
							  <tr>
								<th>Nombre</th>
								<th>Origen</th>
								<th>Descripción</th>
								<th>Fuente</th>
								<th>Detalles</th>
							  </tr>
							</thead>
							{{#if Template.subscriptionsReady}}
								{{#each xlsxsources}}
									{{> basicSource}}
								{{/each}}
							{{else}}
								<p> <strong>Cargando...</strong></p>
							{{/if}}	
						</table>
					</div> 
	            </div>

	         	<div class="tab-pane fade active in" id="sqlList">
	         		<div class="col col-md-10 col-md-offset-1"> 
		            	<table class="table table-hover">
						  <thead>
							  <tr>
								<th>Nombre</th>
								<th>Origen</th>
								<th>Descripción</th>
								<th>Fuente</th>
								<th>Detalles</th>
							  </tr>
							</thead>
								{{#if Template.subscriptionsReady}}
									{{#each sqlsources}}
										{{> basicSource}}
									{{/each}}
								{{else}}
									<p> <strong>Cargando...</strong></p>
								{{/if}}	
						</table>
					</div>
	         	</div>	
	          
	          </div><!-- /.tab-content -->
	        </div><!-- /.row -->
		   </div>
		</div>
	</div>
	<div class="modal fade" id="newSourceModal" tabindex="-1" role="dialog" 
  aria-labelledby="newSourceModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="newSourceModalLabel">Nueva Fuente</h4>
        </div>
        <div class="modal-body">
           {{> newSource}}
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>