        <!--<div class="form-group" ng-show="vm.indiceMortalidadDetalle.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.indiceMortalidadDetalle.id" readonly />
        </div>-->

        <h4>Información:</h4>
        <div class="entity-section-form-group">
            <div class="row">
                <div class="form-group col-xs-7" ng-class="{'has-error':editForm.unidadFuncional.$invalid}">
                    <label class="control-label" for="field_unidadFuncional">Unidad Funcional</label>
                    <select required class="form-control" id="field_unidadFuncional" name="unidadFuncional" ng-model="vm.indiceMortalidadDetalle.unidadFuncional" ng-options="unidad for unidad in vm.unidadesFuncionales">
                        <option value=""></option>
                    </select>
                    <div ng-show="editForm.unidadFuncional.$invalid">
                        <p class="help-block"
                            ng-show="editForm.unidadFuncional.$error.required">
                            Este campo es obligatorio
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-6" ng-class="{'has-error':editForm.kilometroInicial.$invalid || editForm.abscisaInicial.$invalid}">
                    <label class="control-label sr-only" for="field_kilometroInicial">kilometro + Abscisa Inicial</label>
                    <label class="control-label " for="field_kilometroInicial">Kilómetro + Abscisa Inicial</label>

                    <div class="input-group">  
                        <div class="input-group-addon">Km</div>  
                        <input required type="number" class="form-control" name="kilometroInicial" id="field_kilometroInicial"
                                ng-model="vm.indiceMortalidadDetalle.kilometroInicial"
                                min="0" max="200" />
                        <div class="input-group-addon">+</div>
                        <input required type="number" class="form-control" name="abscisaInicial" id="field_abscisaInicial"
                                ng-model="vm.indiceMortalidadDetalle.abscisaInicial"
                                min="0" max="999" />
                    </div>
                    

                    <div ng-show="editForm.kilometroInicial.$invalid || editForm.abscisaInicial.$invalid">
                        <p class="help-block"
                            ng-show="editForm.kilometroInicial.$error.min" translate-value-min="0">
                            El campo km no puede ser menor a 0
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometroInicial.$error.max">
                            El campo km no pude ser mayor a 200
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometroInicial.$error.number">
                            El campo km es numérico
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisaInicial.$error.min" translate-value-min="0">
                            El campo abscisa no puede ser menor a 0.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisaInicial.$error.max">
                            El campo abscisa no puede ser mayor a 999.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisaInicial.$error.number">
                            El campo abscisa es numérico.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometroInicial.$error.required && !editForm.abscisaInicial.$error.required">
                            El campo km es obligatorio.
                        </p>
                        
                        <p class="help-block"
                            ng-show="!editForm.kilometroInicial.$error.required && editForm.abscisaInicial.$error.required">
                            El campo abscisa es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometroInicial.$error.required && editForm.abscisaInicial.$error.required">
                            Los campos Km y abscisa son obligatorios.
                        </p>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6" ng-class="{'has-error':editForm.kilometroFinal.$invalid || editForm.abscisaFinal.$invalid}">
                    <label class="control-label sr-only" for="field_kilometroFinal">kilometro + Abscisa Final</label>
                    <label class="control-label " for="field_kilometroFinal">Kilómetro + Abscisa Final</label>

                    <div class="input-group">  
                        <div class="input-group-addon">Km</div>  
                        <input required type="number" class="form-control" name="kilometroFinal" id="field_kilometroFinal"
                                ng-model="vm.indiceMortalidadDetalle.kilometroFinal"
                                min="0" max="200" />
                        <div class="input-group-addon">+</div>
                        <input required type="number" class="form-control" name="abscisaFinal" id="field_abscisaFinal"
                                ng-model="vm.indiceMortalidadDetalle.abscisaFinal"
                                min="0" max="999" />
                    </div>
                    

                    <div ng-show="editForm.kilometroFinal.$invalid || editForm.abscisaFinal.$invalid">
                        <p class="help-block"
                            ng-show="editForm.kilometroFinal.$error.min" translate-value-min="0">
                            El campo km no puede ser menor a 0
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometroFinal.$error.max">
                            El campo km no pude ser mayor a 200
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometroFinal.$error.number">
                            El campo km es numérico
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisaFinal.$error.min" translate-value-min="0">
                            El campo abscisa no puede ser menor a 0.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisaFinal.$error.max">
                            El campo abscisa no puede ser mayor a 999.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.abscisaFinal.$error.number">
                            El campo abscisa es numérico.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometroFinal.$error.required && !editForm.abscisaFinal.$error.required">
                            El campo km es obligatorio.
                        </p>
                        
                        <p class="help-block"
                            ng-show="!editForm.kilometroFinal.$error.required && editForm.abscisaFinal.$error.required">
                            El campo abscisa es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometroFinal.$error.required && editForm.abscisaFinal.$error.required">
                            Los campos Km y abscisa son obligatorios.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-7" ng-class="{'has-error':editForm.tramoCritico.$invalid}">
                    <label class="control-label" for="field_tramoCritico">Tramo Crítico</label>
                    <input required type="text" class="form-control" name="tramoCritico" id="field_tramoCritico"
                            ng-model="vm.indiceMortalidadDetalle.tramoCritico"
                            ng-maxlength="100" />
                    <p class="help-block"
                            ng-show="editForm.tramoCritico.$error.required">
                            El campo es obligatorio.
                        </p>
                    <div ng-show="editForm.tramoCritico.$invalid">
                        <p class="help-block"
                            ng-show="editForm.tramoCritico.$error.maxlength">
                            Este campo no puede tener más de 100 caracteres.
                        </p>
                    </div>
                </div>
                <div class="form-group col-xs-5"
                    ng-class="{'has-error':editForm.numeroVictimasFatales.$invalid}">
                    <label class="control-label" for="field_numeroVictimasFatales">No.víctimas fatales</label>
                    <input type="number" class="form-control" name="numeroVictimasFatales" id="field_numeroVictimasFatales"
                            ng-model="vm.indiceMortalidadDetalle.numeroVictimasFatales"
                             ng-disabled="true"
                            min="0" max="100" />
                    <div ng-show="editForm.numeroVictimasFatales.$invalid">
                        <p class="help-block"
                            ng-show="editForm.numeroVictimasFatales.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.numeroVictimasFatales.$error.min" translate-value-min="0">
                            Este campo no debe ser menor a 0
                        </p>
                        <p class="help-block"
                            ng-show="editForm.numeroVictimasFatales.$error.max">
                            Este campo no debe ser mayor a 100.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.numeroVictimasFatales.$error.number">
                            Este campo es numérico
                        </p>
                    </div>
                    <p class="help-block"
                        ng-if="vm.showUserToSaveMessage">
                        Debes guardar para ver el valor actualizado
                    </p>
                </div>
            </div>
        </div>
        <!--
        <div class="form-group">
            <label for="field_detalleDeIndiceMortalidad">Detalle De Indice Mortalidad</label>
            <select class="form-control" id="field_detalleDeIndiceMortalidad" name="detalleDeIndiceMortalidad" ng-model="vm.indiceMortalidadDetalle.detalleDeIndiceMortalidad" ng-options="indiceMortalidad as indiceMortalidad.id for indiceMortalidad in vm.indicemortalidads track by indiceMortalidad.id">
                <option value=""></option>
            </select>
        </div>
        -->